<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1431.45 528.955" style="enable-background:new 0 0 1431.45 528.955;" xml:space="preserve">
<g>
	<defs>
		<rect id="SSF_SVGID_1_" x="12.266" width="858.815" height="451.206"/>
	</defs>
	<clipPath id="SSF_SVGID_2_">
		<use xlink:href="#SSF_SVGID_1_"  style="overflow:visible;"/>
	</clipPath>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:0.607;stroke-miterlimit:10;" x1="246.649" y1="383.11" x2="246.772" y2="0.737"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#D1D1D1;" d="M249.35,383.11c0,1.315-1.209,2.382-2.7,2.382
		c-1.492,0-2.701-1.067-2.701-2.382c0-1.315,1.209-2.382,2.701-2.382C248.141,380.728,249.35,381.795,249.35,383.11"/>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:0.607;stroke-miterlimit:10;" x1="360.344" y1="382.373" x2="360.467" y2="0.001"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#D1D1D1;" d="M363.045,382.373c0,1.315-1.209,2.382-2.701,2.382
		c-1.491,0-2.7-1.067-2.7-2.382c0-1.314,1.209-2.381,2.7-2.381C361.836,379.992,363.045,381.059,363.045,382.373"/>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:0.607;stroke-miterlimit:10;" x1="474.038" y1="383.11" x2="474.161" y2="0.737"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#D1D1D1;" d="M476.739,383.11c0,1.315-1.209,2.382-2.7,2.382
		c-1.492,0-2.701-1.067-2.701-2.382c0-1.315,1.209-2.382,2.701-2.382C475.53,380.728,476.739,381.795,476.739,383.11"/>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:0.607;stroke-miterlimit:10;" x1="587.733" y1="383.11" x2="587.856" y2="0.737"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#D1D1D1;" d="M590.434,383.11c0,1.315-1.209,2.382-2.701,2.382
		c-1.491,0-2.7-1.067-2.7-2.382c0-1.315,1.209-2.382,2.7-2.382C589.225,380.728,590.434,381.795,590.434,383.11"/>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:0.607;stroke-miterlimit:10;" x1="701.428" y1="383.11" x2="701.55" y2="0.737"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#D1D1D1;" d="M704.128,383.11c0,1.315-1.209,2.382-2.7,2.382
		c-1.492,0-2.701-1.067-2.701-2.382c0-1.315,1.209-2.382,2.701-2.382C702.919,380.728,704.128,381.795,704.128,383.11"/>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:0.607;stroke-miterlimit:10;" x1="815.122" y1="383.11" x2="815.246" y2="0.737"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#D1D1D1;" d="M817.823,383.11c0,1.315-1.209,2.382-2.701,2.382
		c-1.491,0-2.7-1.067-2.7-2.382c0-1.315,1.209-2.382,2.7-2.382C816.614,380.728,817.823,381.795,817.823,383.11"/>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:0.607;stroke-miterlimit:10;" x1="116.252" y1="23.658" x2="841.614" y2="23.658"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#D1D1D1;" d="M118.664,23.539c0,1.174-1.081,2.127-2.412,2.127
		c-1.333,0-2.412-0.953-2.412-2.127c0-1.175,1.08-2.127,2.412-2.127C117.584,21.412,118.664,22.364,118.664,23.539"/>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:0.607;stroke-miterlimit:10;" x1="116.252" y1="117.82" x2="836.482" y2="117.82"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#D1D1D1;" d="M118.664,117.701c0,1.174-1.081,2.127-2.412,2.127
		c-1.333,0-2.412-0.953-2.412-2.127c0-1.175,1.08-2.127,2.412-2.127C117.584,115.574,118.664,116.526,118.664,117.701"/>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:0.607;stroke-miterlimit:10;" x1="116.252" y1="67.227" x2="836.482" y2="67.227"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#D1D1D1;" d="M118.664,67.107c0,1.175-1.081,2.127-2.412,2.127
		c-1.333,0-2.412-0.952-2.412-2.127c0-1.174,1.08-2.127,2.412-2.127C117.584,64.98,118.664,65.933,118.664,67.107"/>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:0.607;stroke-miterlimit:10;" x1="116.252" y1="269.603" x2="836.482" y2="269.603"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#D1D1D1;" d="M118.664,269.483c0,1.175-1.081,2.127-2.412,2.127
		c-1.333,0-2.412-0.952-2.412-2.127c0-1.175,1.08-2.127,2.412-2.127C117.584,267.356,118.664,268.308,118.664,269.483"/>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:0.607;stroke-miterlimit:10;" x1="116.252" y1="219.009" x2="836.482" y2="219.009"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#D1D1D1;" d="M118.664,218.889c0,1.175-1.081,2.127-2.412,2.127
		c-1.333,0-2.412-0.952-2.412-2.127c0-1.174,1.08-2.127,2.412-2.127C117.584,216.762,118.664,217.715,118.664,218.889"/>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:0.607;stroke-miterlimit:10;" x1="116.252" y1="168.415" x2="836.482" y2="168.415"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#D1D1D1;" d="M118.664,168.295c0,1.175-1.081,2.127-2.412,2.127
		c-1.333,0-2.412-0.952-2.412-2.127c0-1.175,1.08-2.127,2.412-2.127C117.584,166.168,118.664,167.12,118.664,168.295"/>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:0.607;stroke-miterlimit:10;" x1="116.252" y1="320.197" x2="836.482" y2="320.197"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#D1D1D1;" d="M118.664,320.077c0,1.175-1.081,2.127-2.412,2.127
		c-1.333,0-2.412-0.952-2.412-2.127c0-1.175,1.08-2.127,2.412-2.127C117.584,317.95,118.664,318.902,118.664,320.077"/>
	<polyline style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#404041;stroke-width:2.4099;stroke-miterlimit:10;" points="
		134.169,2.921 134.169,367.235 842.999,367.235 	"/>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#404041;stroke-width:2.4099;stroke-miterlimit:10;" x1="116.252" y1="367.235" x2="139.668" y2="367.235"/>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#404041;stroke-width:2.4099;stroke-miterlimit:10;" x1="134.169" y1="364.844" x2="134.169" y2="385.492"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#98B0BD;" d="M1134.912,175.015h-102.546c-2.835,0-5.133-2.026-5.133-4.525V73.958
		c0-2.5,2.298-4.526,5.133-4.526h102.546c2.835,0,5.132,2.026,5.132,4.526v96.532
		C1140.043,172.989,1137.747,175.015,1134.912,175.015"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#003B5C;" d="M1274.811,175.015h-102.546c-2.834,0-5.133-2.026-5.133-4.525V73.958
		c0-2.5,2.299-4.526,5.133-4.526h102.546c2.835,0,5.133,2.026,5.133,4.526v96.532
		C1279.943,172.989,1277.646,175.015,1274.811,175.015"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#D9F0F6;" d="M1134.912,303.204h-102.546c-2.835,0-5.133-2.025-5.133-4.525v-96.532
		c0-2.499,2.298-4.525,5.133-4.525h102.546c2.835,0,5.132,2.026,5.132,4.525v96.532
		C1140.043,301.179,1137.747,303.204,1134.912,303.204"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#AEDFEC;" d="M1274.811,303.204h-102.546c-2.834,0-5.133-2.025-5.133-4.525v-96.532
		c0-2.499,2.299-4.525,5.133-4.525h102.546c2.835,0,5.133,2.026,5.133,4.525v96.532
		C1279.943,301.179,1277.646,303.204,1274.811,303.204"/>
	<polyline style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#003B5C;stroke-width:4.8241;stroke-miterlimit:10;" points="
		134.035,269.483 190.885,166.168 246.772,69.233 360.344,39.126 474.038,69.233 587.794,86.267 701.551,71.559 815.245,65.148 	"/>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#98B0BD;stroke-width:4.8241;stroke-miterlimit:10;" x1="134.035" y1="269.483" x2="135.336" y2="267.533"/>
	
		<polyline style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#98B0BD;stroke-width:4.8241;stroke-miterlimit:10;stroke-dasharray:4.8305,4.8305;" points="
		137.946,263.624 191.314,183.663 246.649,140.104 360.344,141.519 474.162,125.679 587.794,140.67 701.428,146.044 810.23,167.429 
			"/>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#98B0BD;stroke-width:4.8241;stroke-miterlimit:10;" x1="812.74" y1="167.923" x2="815.246" y2="168.415"/>
	<polyline style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#75CAEC;stroke-width:7.2308;stroke-miterlimit:10;" points="
		134.035,269.483 191.955,218.888 246.772,201.483 360.344,162.732 474.161,140.104 587.794,161.15 701.551,186.492 
		815.245,190.852 	"/>
	
		<polyline style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#C0E6F0;stroke-width:4.8241;stroke-miterlimit:10;stroke-dasharray:4.8198,4.8198;" points="
		134.035,269.483 193.558,255.225 246.772,263.427 360.344,218.888 474.161,222.414 587.733,269.602 701.551,276.439 
		815.245,295.39 	"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#003B5C;" d="M190.409,159.001c-4.482,0-8.128,3.216-8.128,7.168
		c0,3.951,3.646,7.166,8.128,7.166c4.481,0,8.128-3.215,8.128-7.166C198.537,162.217,194.89,159.001,190.409,159.001"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#003B5C;" d="M246.773,62.066c-4.482,0-8.128,3.216-8.128,7.168
		c0,3.951,3.646,7.166,8.128,7.166c4.481,0,8.128-3.215,8.128-7.166C254.9,65.282,251.253,62.066,246.773,62.066"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#003B5C;" d="M360.406,31.959c-4.483,0-8.128,3.215-8.128,7.167
		c0,3.951,3.645,7.167,8.128,7.167c4.481,0,8.127-3.216,8.127-7.167C368.533,35.174,364.887,31.959,360.406,31.959"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#003B5C;" d="M587.733,79.055c-4.482,0-8.128,3.215-8.128,7.167
		c0,3.951,3.646,7.167,8.128,7.167c4.481,0,8.128-3.216,8.128-7.167C595.861,82.27,592.214,79.055,587.733,79.055"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#98B0BD;" d="M587.733,132.938c-4.482,0-8.128,3.215-8.128,7.167
		c0,3.951,3.646,7.167,8.128,7.167c4.481,0,8.128-3.216,8.128-7.167C595.861,136.153,592.214,132.938,587.733,132.938"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#75CAEC;" d="M587.733,154.081c-4.482,0-8.128,3.215-8.128,7.167
		c0,3.951,3.646,7.167,8.128,7.167c4.481,0,8.128-3.216,8.128-7.167C595.861,157.296,592.214,154.081,587.733,154.081"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#75CAEC;" d="M474.039,132.729c-4.482,0-8.128,3.216-8.128,7.168
		c0,3.951,3.646,7.166,8.128,7.166c4.481,0,8.128-3.215,8.128-7.166C482.167,135.945,478.52,132.729,474.039,132.729"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#75CAEC;" d="M701.428,179.538c-4.482,0-8.128,3.215-8.128,7.167
		c0,3.951,3.646,7.167,8.128,7.167c4.481,0,8.128-3.216,8.128-7.167C709.556,182.753,705.909,179.538,701.428,179.538"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#75CAEC;" d="M815.154,183.663c-4.482,0-8.128,3.216-8.128,7.168
		c0,3.951,3.646,7.166,8.128,7.166c4.481,0,8.128-3.215,8.128-7.166C823.281,186.879,819.634,183.663,815.154,183.663"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#75CAEC;" d="M360.468,153.825c-4.482,0-8.128,3.216-8.128,7.168
		c0,3.951,3.646,7.166,8.128,7.166c4.481,0,8.127-3.215,8.127-7.166C368.594,157.041,364.948,153.825,360.468,153.825"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#C0E6F0;" d="M360.468,211.842c-4.482,0-8.128,3.216-8.128,7.168
		c0,3.951,3.646,7.166,8.128,7.166c4.481,0,8.127-3.215,8.127-7.166C368.594,215.058,364.948,211.842,360.468,211.842"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#C0E6F0;" d="M474.039,213.85c-4.482,0-8.128,3.215-8.128,7.167
		c0,3.951,3.646,7.166,8.128,7.166c4.481,0,8.128-3.215,8.128-7.166C482.167,217.065,478.52,213.85,474.039,213.85"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#C0E6F0;" d="M587.857,262.316c-4.482,0-8.128,3.215-8.128,7.167
		c0,3.951,3.646,7.167,8.128,7.167c4.481,0,8.127-3.216,8.127-7.167C595.984,265.532,592.338,262.316,587.857,262.316"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#C0E6F0;" d="M815.154,287.613c-4.482,0-8.128,3.215-8.128,7.168
		c0,3.95,3.646,7.166,8.128,7.166c4.481,0,8.128-3.216,8.128-7.166C823.281,290.828,819.634,287.613,815.154,287.613"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#C0E6F0;" d="M701.551,269.363c-4.482,0-8.128,3.216-8.128,7.168
		c0,3.951,3.646,7.166,8.128,7.166c4.481,0,8.128-3.215,8.128-7.166C709.679,272.579,706.032,269.363,701.551,269.363"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#C0E6F0;" d="M246.773,255.688c-4.482,0-8.128,3.215-8.128,7.168
		c0,3.95,3.646,7.166,8.128,7.166c4.481,0,8.128-3.216,8.128-7.166C254.9,258.903,251.253,255.688,246.773,255.688"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#C0E6F0;" d="M191.437,247.224c-4.483,0-8.128,3.215-8.128,7.167
		c0,3.951,3.645,7.167,8.128,7.167c4.481,0,8.127-3.216,8.127-7.167C199.564,250.439,195.918,247.224,191.437,247.224"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#75CAEC;" d="M134.293,262.854c-4.482,0-8.128,3.215-8.128,7.167
		c0,3.951,3.646,7.167,8.128,7.167c4.481,0,8.127-3.216,8.127-7.167C142.42,266.07,138.774,262.854,134.293,262.854"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#75CAEC;" d="M249.35,193.425c-4.482,0-8.128,3.215-8.128,7.167
		c0,3.951,3.646,7.167,8.128,7.167c4.481,0,8.128-3.216,8.128-7.167C257.478,196.64,253.831,193.425,249.35,193.425"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#75CAEC;" d="M191.437,211.723c-4.483,0-8.128,3.215-8.128,7.167
		c0,3.951,3.645,7.166,8.128,7.166c4.481,0,8.127-3.215,8.127-7.166C199.564,214.938,195.918,211.723,191.437,211.723"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#98B0BD;" d="M474.174,118.512c-4.482,0-8.128,3.215-8.128,7.168
		c0,3.95,3.646,7.166,8.128,7.166c4.481,0,8.128-3.216,8.128-7.166C482.301,121.727,478.654,118.512,474.174,118.512"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#98B0BD;" d="M363.045,135.2c-4.482,0-8.128,3.215-8.128,7.167
		c0,3.951,3.646,7.167,8.128,7.167c4.481,0,8.127-3.216,8.127-7.167C371.172,138.415,367.526,135.2,363.045,135.2"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#98B0BD;" d="M246.773,132.938c-4.482,0-8.128,3.215-8.128,7.167
		c0,3.951,3.646,7.167,8.128,7.167c4.481,0,8.128-3.216,8.128-7.167C254.9,136.153,251.253,132.938,246.773,132.938"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#98B0BD;" d="M191.437,176.497c-4.483,0-8.128,3.215-8.128,7.167
		c0,3.951,3.645,7.166,8.128,7.166c4.481,0,8.127-3.215,8.127-7.166C199.564,179.712,195.918,176.497,191.437,176.497"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#003B5C;" d="M701.428,64.721c-4.482,0-8.128,3.215-8.128,7.167
		c0,3.951,3.646,7.167,8.128,7.167c4.481,0,8.128-3.216,8.128-7.167C709.556,67.936,705.909,64.721,701.428,64.721"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#98B0BD;" d="M701.428,139.896c-4.482,0-8.128,3.216-8.128,7.168
		c0,3.951,3.646,7.166,8.128,7.166c4.481,0,8.128-3.215,8.128-7.166C709.556,143.112,705.909,139.896,701.428,139.896"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#003B5C;" d="M815.154,57.554c-4.482,0-8.128,3.215-8.128,7.167
		c0,3.951,3.646,7.167,8.128,7.167c4.481,0,8.128-3.216,8.128-7.167C823.281,60.769,819.634,57.554,815.154,57.554"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#98B0BD;" d="M815.154,161.248c-4.482,0-8.128,3.215-8.128,7.167
		c0,3.951,3.646,7.167,8.128,7.167c4.481,0,8.128-3.216,8.128-7.167C823.281,164.463,819.634,161.248,815.154,161.248"/>
	<path style="clip-path:url(#SSF_SVGID_2_);fill:#003B5C;" d="M474.162,62.066c-4.482,0-8.128,3.216-8.128,7.168
		c0,3.951,3.646,7.166,8.128,7.166c4.481,0,8.128-3.215,8.128-7.166C482.29,65.282,478.643,62.066,474.162,62.066"/>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:2.4067;stroke-miterlimit:10;" x1="1153.312" y1="73.29" x2="1153.312" y2="269.368"/>
	<polygon style="clip-path:url(#SSF_SVGID_2_);fill:#D1D1D1;" points="1145.866,77.769 1153.312,53.269 1160.759,77.769 	"/>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:2.4067;stroke-miterlimit:10;" x1="1153.312" y1="299.693" x2="1153.312" y2="101.682"/>
	<polygon style="clip-path:url(#SSF_SVGID_2_);fill:#D1D1D1;" points="1160.759,295.216 1153.312,319.716 1145.866,295.216 	"/>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:2.4067;stroke-miterlimit:10;" x1="1281.571" y1="186.47" x2="1112.574" y2="186.47"/>
	<polygon style="clip-path:url(#SSF_SVGID_2_);fill:#D1D1D1;" points="1276.493,179.904 1304.277,186.469 1276.493,193.036 	"/>
	
		<line style="clip-path:url(#SSF_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:2.4067;stroke-miterlimit:10;" x1="1039.675" y1="186.47" x2="1228.052" y2="186.47"/>
	<polygon style="clip-path:url(#SSF_SVGID_2_);fill:#D1D1D1;" points="1044.754,193.036 1016.969,186.47 1044.754,179.904 	"/>
</g>
<g>
	<defs>
		<rect id="SSF_SVGID_3_" x="943.105" y="34.238" width="454.613" height="357.984"/>
	</defs>
	<clipPath id="SSF_SVGID_4_">
		<use xlink:href="#SSF_SVGID_3_"  style="overflow:visible;"/>
	</clipPath>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#D1D1D1;" d="M381.706,417.348c0,1.315-1.066,2.382-2.381,2.382
		c-1.316,0-2.382-1.067-2.382-2.382s1.066-2.382,2.382-2.382C380.64,414.966,381.706,416.033,381.706,417.348"/>
	
		<line style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#D1D1D1;stroke-width:0.57;stroke-miterlimit:10;" x1="479.579" y1="416.61" x2="479.688" y2="34.238"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#D1D1D1;" d="M481.961,416.61c0,1.315-1.066,2.382-2.382,2.382
		c-1.315,0-2.381-1.067-2.381-2.382c0-1.314,1.066-2.381,2.381-2.381C480.895,414.229,481.961,415.296,481.961,416.61"/>
	
		<line style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#D1D1D1;stroke-width:0.57;stroke-miterlimit:10;" x1="579.833" y1="417.348" x2="579.941" y2="34.975"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#D1D1D1;" d="M582.214,417.348c0,1.315-1.066,2.382-2.381,2.382
		c-1.316,0-2.382-1.067-2.382-2.382s1.066-2.382,2.382-2.382C581.148,414.966,582.214,416.033,582.214,417.348"/>
	
		<line style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#D1D1D1;stroke-width:0.57;stroke-miterlimit:10;" x1="680.087" y1="417.348" x2="680.196" y2="34.975"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#D1D1D1;" d="M682.469,417.348c0,1.315-1.066,2.382-2.382,2.382
		c-1.315,0-2.381-1.067-2.381-2.382s1.066-2.382,2.381-2.382C681.403,414.966,682.469,416.033,682.469,417.348"/>
	
		<line style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#D1D1D1;stroke-width:0.57;stroke-miterlimit:10;" x1="780.341" y1="417.348" x2="780.449" y2="34.975"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#D1D1D1;" d="M782.723,417.348c0,1.315-1.066,2.382-2.381,2.382
		c-1.316,0-2.382-1.067-2.382-2.382s1.066-2.382,2.382-2.382C781.657,414.966,782.723,416.033,782.723,417.348"/>
	
		<line style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#D1D1D1;stroke-width:0.57;stroke-miterlimit:10;" x1="880.595" y1="417.348" x2="880.704" y2="34.975"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#D1D1D1;" d="M882.977,417.348c0,1.315-1.066,2.382-2.382,2.382
		c-1.315,0-2.381-1.067-2.381-2.382s1.066-2.382,2.381-2.382C881.911,414.966,882.977,416.033,882.977,417.348"/>
	
		<line style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#D1D1D1;stroke-width:0.57;stroke-miterlimit:10;" x1="264.343" y1="57.895" x2="903.956" y2="57.895"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#D1D1D1;" d="M266.47,57.776c0,1.174-0.953,2.127-2.127,2.127
		c-1.175,0-2.127-0.953-2.127-2.127c0-1.175,0.952-2.127,2.127-2.127C265.517,55.649,266.47,56.601,266.47,57.776"/>
	
		<line style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#D1D1D1;stroke-width:0.57;stroke-miterlimit:10;" x1="264.343" y1="152.058" x2="899.43" y2="152.058"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#D1D1D1;" d="M266.47,151.938c0,1.174-0.953,2.127-2.127,2.127
		c-1.175,0-2.127-0.953-2.127-2.127c0-1.175,0.952-2.127,2.127-2.127C265.517,149.811,266.47,150.763,266.47,151.938"/>
	
		<line style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#D1D1D1;stroke-width:0.57;stroke-miterlimit:10;" x1="264.343" y1="101.464" x2="899.43" y2="101.464"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#D1D1D1;" d="M266.47,101.344c0,1.175-0.953,2.127-2.127,2.127
		c-1.175,0-2.127-0.952-2.127-2.127c0-1.174,0.952-2.127,2.127-2.127C265.517,99.217,266.47,100.17,266.47,101.344"/>
	
		<line style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#D1D1D1;stroke-width:0.57;stroke-miterlimit:10;" x1="264.343" y1="303.84" x2="899.43" y2="303.84"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#D1D1D1;" d="M266.47,303.721c0,1.175-0.953,2.127-2.127,2.127
		c-1.175,0-2.127-0.952-2.127-2.127s0.952-2.127,2.127-2.127C265.517,301.594,266.47,302.546,266.47,303.721"/>
	
		<line style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#D1D1D1;stroke-width:0.57;stroke-miterlimit:10;" x1="264.343" y1="253.246" x2="899.43" y2="253.246"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#D1D1D1;" d="M266.47,253.126c0,1.175-0.953,2.127-2.127,2.127
		c-1.175,0-2.127-0.952-2.127-2.127c0-1.174,0.952-2.127,2.127-2.127C265.517,250.999,266.47,251.952,266.47,253.126"/>
	
		<line style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#D1D1D1;stroke-width:0.57;stroke-miterlimit:10;" x1="264.343" y1="202.652" x2="899.43" y2="202.652"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#D1D1D1;" d="M266.47,202.532c0,1.175-0.953,2.127-2.127,2.127
		c-1.175,0-2.127-0.952-2.127-2.127c0-1.175,0.952-2.127,2.127-2.127C265.517,200.405,266.47,201.357,266.47,202.532"/>
	
		<line style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#D1D1D1;stroke-width:0.57;stroke-miterlimit:10;" x1="264.343" y1="354.434" x2="899.43" y2="354.434"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#D1D1D1;" d="M266.47,354.314c0,1.175-0.953,2.127-2.127,2.127
		c-1.175,0-2.127-0.952-2.127-2.127s0.952-2.127,2.127-2.127C265.517,352.187,266.47,353.139,266.47,354.314"/>
	<polyline style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#404041;stroke-width:2.263;stroke-miterlimit:10;" points="
		280.142,37.158 280.142,401.472 905.177,401.472 	"/>
	
		<line style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#404041;stroke-width:2.263;stroke-miterlimit:10;" x1="264.343" y1="401.473" x2="284.991" y2="401.473"/>
	
		<line style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#404041;stroke-width:2.263;stroke-miterlimit:10;" x1="280.142" y1="399.081" x2="280.142" y2="419.729"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#98B0BD;" d="M1162.581,209.252h-90.423c-2.5,0-4.526-2.026-4.526-4.525v-96.532
		c0-2.5,2.026-4.526,4.526-4.526h90.423c2.5,0,4.525,2.026,4.525,4.526v96.532C1167.106,207.226,1165.081,209.252,1162.581,209.252"
		/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#003B5C;" d="M1285.941,209.252h-90.423c-2.499,0-4.526-2.026-4.526-4.525v-96.532
		c0-2.5,2.027-4.526,4.526-4.526h90.423c2.5,0,4.526,2.026,4.526,4.526v96.532C1290.467,207.226,1288.441,209.252,1285.941,209.252"
		/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#D9F0F6;" d="M1162.581,337.441h-90.423c-2.5,0-4.526-2.025-4.526-4.525v-96.532
		c0-2.499,2.026-4.525,4.526-4.525h90.423c2.5,0,4.525,2.026,4.525,4.525v96.532
		C1167.106,335.416,1165.081,337.441,1162.581,337.441"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#AEDFEC;" d="M1285.941,337.441h-90.423c-2.499,0-4.526-2.025-4.526-4.525v-96.532
		c0-2.499,2.027-4.525,4.526-4.525h90.423c2.5,0,4.526,2.026,4.526,4.525v96.532
		C1290.467,335.416,1288.441,337.441,1285.941,337.441"/>
	<polyline style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#003B5C;stroke-width:4.53;stroke-miterlimit:10;" points="
		280.023,303.721 330.153,200.406 379.433,103.471 479.579,73.364 579.833,103.471 680.141,120.505 780.45,105.797 880.704,99.386 	
		"/>
	
		<line style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#98B0BD;stroke-width:4.53;stroke-miterlimit:10;" x1="280.023" y1="303.721" x2="281.171" y2="301.771"/>
	
		<polyline style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#98B0BD;stroke-width:4.53;stroke-miterlimit:10;stroke-dasharray:4.536,4.536;" points="
		283.472,297.861 330.531,217.9 379.325,174.341 479.579,175.756 579.942,159.916 680.141,174.907 780.342,180.281 876.282,201.666 
			"/>
	
		<line style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#98B0BD;stroke-width:4.53;stroke-miterlimit:10;" x1="878.495" y1="202.16" x2="880.704" y2="202.652"/>
	<polyline style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#75CAEC;stroke-width:6.79;stroke-miterlimit:10;" points="
		280.023,303.721 331.096,253.126 379.433,235.721 479.579,196.97 579.941,174.342 680.141,195.388 780.45,220.73 880.704,225.09 	
		"/>
	
		<polyline style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#C0E6F0;stroke-width:4.53;stroke-miterlimit:10;stroke-dasharray:4.526,4.526;" points="
		280.023,303.721 332.51,289.463 379.433,297.665 479.579,253.126 579.941,256.652 680.087,303.84 780.45,310.677 880.704,329.628 	
		"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#003B5C;" d="M329.733,193.238c-3.952,0-7.167,3.216-7.167,7.168
		c0,3.951,3.215,7.166,7.167,7.166c3.951,0,7.167-3.215,7.167-7.166C336.9,196.454,333.684,193.238,329.733,193.238"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#003B5C;" d="M379.434,96.304c-3.952,0-7.167,3.216-7.167,7.168
		c0,3.951,3.215,7.166,7.167,7.166c3.951,0,7.167-3.215,7.167-7.166C386.601,99.52,383.385,96.304,379.434,96.304"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#003B5C;" d="M479.634,66.196c-3.953,0-7.167,3.215-7.167,7.167
		c0,3.951,3.214,7.167,7.167,7.167c3.951,0,7.166-3.216,7.166-7.167C486.8,69.411,483.585,66.196,479.634,66.196"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#003B5C;" d="M680.088,113.292c-3.952,0-7.167,3.215-7.167,7.167
		c0,3.951,3.215,7.167,7.167,7.167c3.951,0,7.167-3.216,7.167-7.167C687.255,116.507,684.039,113.292,680.088,113.292"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#98B0BD;" d="M680.088,167.175c-3.952,0-7.167,3.215-7.167,7.167
		c0,3.951,3.215,7.167,7.167,7.167c3.951,0,7.167-3.216,7.167-7.167C687.255,170.39,684.039,167.175,680.088,167.175"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#75CAEC;" d="M680.088,188.318c-3.952,0-7.167,3.215-7.167,7.167
		c0,3.951,3.215,7.167,7.167,7.167c3.951,0,7.167-3.216,7.167-7.167C687.255,191.533,684.039,188.318,680.088,188.318"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#75CAEC;" d="M579.834,166.967c-3.952,0-7.167,3.216-7.167,7.168
		c0,3.951,3.215,7.166,7.167,7.166c3.951,0,7.167-3.215,7.167-7.166C587.001,170.183,583.785,166.967,579.834,166.967"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#75CAEC;" d="M780.342,213.775c-3.952,0-7.167,3.215-7.167,7.167
		c0,3.951,3.215,7.167,7.167,7.167c3.951,0,7.167-3.216,7.167-7.167C787.509,216.99,784.293,213.775,780.342,213.775"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#75CAEC;" d="M880.623,217.9c-3.952,0-7.167,3.216-7.167,7.168
		c0,3.951,3.215,7.166,7.167,7.166c3.951,0,7.167-3.215,7.167-7.166C887.79,221.116,884.574,217.9,880.623,217.9"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#75CAEC;" d="M479.688,188.062c-3.952,0-7.167,3.216-7.167,7.168
		c0,3.951,3.215,7.166,7.167,7.166c3.951,0,7.166-3.215,7.166-7.166C486.854,191.278,483.639,188.062,479.688,188.062"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#C0E6F0;" d="M479.688,246.079c-3.952,0-7.167,3.216-7.167,7.168
		c0,3.951,3.215,7.166,7.167,7.166c3.951,0,7.166-3.215,7.166-7.166C486.854,249.295,483.639,246.079,479.688,246.079"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#C0E6F0;" d="M579.834,248.087c-3.952,0-7.167,3.215-7.167,7.167
		c0,3.951,3.215,7.166,7.167,7.166c3.951,0,7.167-3.215,7.167-7.166C587.001,251.302,583.785,248.087,579.834,248.087"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#C0E6F0;" d="M680.196,296.554c-3.952,0-7.167,3.215-7.167,7.167
		c0,3.951,3.215,7.167,7.167,7.167c3.951,0,7.166-3.216,7.166-7.167C687.362,299.769,684.147,296.554,680.196,296.554"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#C0E6F0;" d="M880.623,321.85c-3.952,0-7.167,3.215-7.167,7.168
		c0,3.95,3.215,7.166,7.167,7.166c3.951,0,7.167-3.216,7.167-7.166C887.79,325.065,884.574,321.85,880.623,321.85"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#C0E6F0;" d="M780.45,303.6c-3.952,0-7.167,3.216-7.167,7.168
		c0,3.951,3.215,7.166,7.167,7.166c3.951,0,7.167-3.215,7.167-7.166C787.617,306.816,784.401,303.6,780.45,303.6"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#C0E6F0;" d="M379.434,289.925c-3.952,0-7.167,3.215-7.167,7.168
		c0,3.95,3.215,7.166,7.167,7.166c3.951,0,7.167-3.216,7.167-7.166C386.601,293.14,383.385,289.925,379.434,289.925"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#C0E6F0;" d="M330.64,281.461c-3.953,0-7.167,3.215-7.167,7.167
		c0,3.951,3.214,7.167,7.167,7.167c3.951,0,7.166-3.216,7.166-7.167C337.806,284.676,334.591,281.461,330.64,281.461"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#75CAEC;" d="M280.251,297.092c-3.952,0-7.167,3.215-7.167,7.167
		c0,3.951,3.215,7.167,7.167,7.167c3.951,0,7.166-3.216,7.166-7.167C287.417,300.307,284.202,297.092,280.251,297.092"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#75CAEC;" d="M381.707,227.662c-3.952,0-7.167,3.215-7.167,7.167
		c0,3.951,3.215,7.167,7.167,7.167c3.951,0,7.167-3.216,7.167-7.167C388.874,230.877,385.658,227.662,381.707,227.662"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#75CAEC;" d="M330.64,245.96c-3.953,0-7.167,3.215-7.167,7.167
		c0,3.951,3.214,7.166,7.167,7.166c3.951,0,7.166-3.215,7.166-7.166C337.806,249.175,334.591,245.96,330.64,245.96"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#98B0BD;" d="M579.952,152.749c-3.952,0-7.167,3.215-7.167,7.168
		c0,3.95,3.215,7.166,7.167,7.166c3.951,0,7.167-3.216,7.167-7.166C587.119,155.964,583.903,152.749,579.952,152.749"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#98B0BD;" d="M481.961,169.437c-3.952,0-7.167,3.215-7.167,7.167
		c0,3.951,3.215,7.167,7.167,7.167c3.951,0,7.166-3.216,7.166-7.167C489.127,172.652,485.912,169.437,481.961,169.437"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#98B0BD;" d="M379.434,167.175c-3.952,0-7.167,3.215-7.167,7.167
		c0,3.951,3.215,7.167,7.167,7.167c3.951,0,7.167-3.216,7.167-7.167C386.601,170.39,383.385,167.175,379.434,167.175"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#98B0BD;" d="M330.64,210.734c-3.953,0-7.167,3.215-7.167,7.167
		c0,3.951,3.214,7.166,7.167,7.166c3.951,0,7.166-3.215,7.166-7.166C337.806,213.949,334.591,210.734,330.64,210.734"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#003B5C;" d="M780.342,98.958c-3.952,0-7.167,3.215-7.167,7.167
		c0,3.951,3.215,7.167,7.167,7.167c3.951,0,7.167-3.216,7.167-7.167C787.509,102.173,784.293,98.958,780.342,98.958"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#98B0BD;" d="M780.342,174.134c-3.952,0-7.167,3.216-7.167,7.168
		c0,3.951,3.215,7.166,7.167,7.166c3.951,0,7.167-3.215,7.167-7.166C787.509,177.35,784.293,174.134,780.342,174.134"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#003B5C;" d="M880.623,91.791c-3.952,0-7.167,3.215-7.167,7.167
		c0,3.951,3.215,7.167,7.167,7.167c3.951,0,7.167-3.216,7.167-7.167C887.79,95.006,884.574,91.791,880.623,91.791"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#98B0BD;" d="M880.623,195.485c-3.952,0-7.167,3.215-7.167,7.167
		c0,3.951,3.215,7.167,7.167,7.167c3.951,0,7.167-3.216,7.167-7.167C887.79,198.7,884.574,195.485,880.623,195.485"/>
	<path style="clip-path:url(#SSF_SVGID_4_);fill:#003B5C;" d="M579.942,96.304c-3.952,0-7.167,3.216-7.167,7.168
		c0,3.951,3.215,7.166,7.167,7.166c3.951,0,7.167-3.215,7.167-7.166C587.109,99.52,583.893,96.304,579.942,96.304"/>
	
		<line style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#D1D1D1;stroke-width:2.26;stroke-miterlimit:10;" x1="1178.806" y1="107.527" x2="1178.806" y2="303.605"/>
	<polygon style="clip-path:url(#SSF_SVGID_4_);fill:#D1D1D1;" points="1172.24,112.006 1178.806,87.506 1185.372,112.006 	"/>
	
		<line style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#D1D1D1;stroke-width:2.26;stroke-miterlimit:10;" x1="1178.806" y1="333.931" x2="1178.806" y2="135.92"/>
	<polygon style="clip-path:url(#SSF_SVGID_4_);fill:#D1D1D1;" points="1185.372,329.453 1178.806,353.953 1172.24,329.453 	"/>
	
		<line style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#D1D1D1;stroke-width:2.26;stroke-miterlimit:10;" x1="1291.903" y1="220.707" x2="1142.884" y2="220.707"/>
	<polygon style="clip-path:url(#SSF_SVGID_4_);fill:#D1D1D1;" points="1287.425,214.141 1311.925,220.706 1287.425,227.273 	"/>
	
		<line style="clip-path:url(#SSF_SVGID_4_);fill:none;stroke:#D1D1D1;stroke-width:2.26;stroke-miterlimit:10;" x1="1078.603" y1="220.707" x2="1244.71" y2="220.707"/>
	<polygon style="clip-path:url(#SSF_SVGID_4_);fill:#D1D1D1;" points="1083.081,227.273 1058.581,220.707 1083.081,214.141 	"/>
</g>
<text transform="matrix(1 0 0 1 39.7876 521.1913)"><tspan x="0" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:22px;">T</tspan><tspan x="13.002" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:22px;">r</tspan><tspan x="21.472" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:22px;">e</tspan><tspan x="34.759" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:22px;">at</tspan><tspan x="56.869" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:22px;">m</tspan><tspan x="79.221" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:22px;">en</tspan><tspan x="107.029" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:22px;">t</tspan><tspan x="116.005" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:22px;">-naï</tspan><tspan x="159.63" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:22px;">v</tspan><tspan x="171.906" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:22px;">e, </tspan><tspan x="197.711" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:22px;">r</tspan><tspan x="206.181" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:22px;">egular</tspan></text>
<rect x="9" y="501.141" style="fill:#003B5C;" width="18.677" height="21.84"/>
<text transform="matrix(1 0 0 1 763.9668 521.1913)"><tspan x="0" y="0" style="fill:#75CAEC; font-family:'Montserrat-Regular'; font-size:22px;">P</tspan><tspan x="14.563" y="0" style="fill:#75CAEC; font-family:'Montserrat-Regular'; font-size:22px;">r</tspan><tspan x="23.033" y="0" style="fill:#75CAEC; font-family:'Montserrat-Regular'; font-size:22px;">et</tspan><tspan x="45.825" y="0" style="fill:#75CAEC; font-family:'Montserrat-Regular'; font-size:22px;">r</tspan><tspan x="54.295" y="0" style="fill:#75CAEC; font-family:'Montserrat-Regular'; font-size:22px;">e</tspan><tspan x="67.583" y="0" style="fill:#75CAEC; font-family:'Montserrat-Regular'; font-size:22px;">a</tspan><tspan x="80.497" y="0" style="fill:#75CAEC; font-family:'Montserrat-Regular'; font-size:22px;">t</tspan><tspan x="89.274" y="0" style="fill:#75CAEC; font-family:'Montserrat-Regular'; font-size:22px;">ed, </tspan><tspan x="129.864" y="0" style="fill:#75CAEC; font-family:'Montserrat-Regular'; font-size:22px;">r</tspan><tspan x="138.334" y="0" style="fill:#75CAEC; font-family:'Montserrat-Regular'; font-size:22px;">egular</tspan></text>
<rect x="733.18" y="501.141" style="fill:#75CAEC;" width="18.677" height="21.84"/>
<text transform="matrix(1 0 0 1 395.1777 521.1913)"><tspan x="0" y="0" style="fill:#98B0BD; font-family:'Montserrat-Regular'; font-size:22px;">T</tspan><tspan x="13.002" y="0" style="fill:#98B0BD; font-family:'Montserrat-Regular'; font-size:22px;">r</tspan><tspan x="21.472" y="0" style="fill:#98B0BD; font-family:'Montserrat-Regular'; font-size:22px;">e</tspan><tspan x="34.759" y="0" style="fill:#98B0BD; font-family:'Montserrat-Regular'; font-size:22px;">at</tspan><tspan x="56.869" y="0" style="fill:#98B0BD; font-family:'Montserrat-Regular'; font-size:22px;">m</tspan><tspan x="79.221" y="0" style="fill:#98B0BD; font-family:'Montserrat-Regular'; font-size:22px;">en</tspan><tspan x="107.029" y="0" style="fill:#98B0BD; font-family:'Montserrat-Regular'; font-size:22px;">t</tspan><tspan x="116.005" y="0" style="fill:#98B0BD; font-family:'Montserrat-Regular'; font-size:22px;">-naï</tspan><tspan x="159.63" y="0" style="fill:#98B0BD; font-family:'Montserrat-Regular'; font-size:22px;">v</tspan><tspan x="171.906" y="0" style="fill:#98B0BD; font-family:'Montserrat-Regular'; font-size:22px;">e, i</tspan><tspan x="203.739" y="0" style="fill:#98B0BD; font-family:'Montserrat-Regular'; font-size:22px;">r</tspan><tspan x="212.319" y="0" style="fill:#98B0BD; font-family:'Montserrat-Regular'; font-size:22px;">r</tspan><tspan x="220.789" y="0" style="fill:#98B0BD; font-family:'Montserrat-Regular'; font-size:22px;">egular</tspan></text>
<rect x="364.391" y="501.141" style="fill:#98B0BD;" width="18.677" height="21.84"/>
<text transform="matrix(1 0 0 1 1084.5615 521.1913)"><tspan x="0" y="0" style="fill:#ACDFED; font-family:'Montserrat-Regular'; font-size:22px;">P</tspan><tspan x="14.563" y="0" style="fill:#ACDFED; font-family:'Montserrat-Regular'; font-size:22px;">r</tspan><tspan x="23.033" y="0" style="fill:#ACDFED; font-family:'Montserrat-Regular'; font-size:22px;">et</tspan><tspan x="45.825" y="0" style="fill:#ACDFED; font-family:'Montserrat-Regular'; font-size:22px;">r</tspan><tspan x="54.295" y="0" style="fill:#ACDFED; font-family:'Montserrat-Regular'; font-size:22px;">e</tspan><tspan x="67.583" y="0" style="fill:#ACDFED; font-family:'Montserrat-Regular'; font-size:22px;">a</tspan><tspan x="80.497" y="0" style="fill:#ACDFED; font-family:'Montserrat-Regular'; font-size:22px;">t</tspan><tspan x="89.274" y="0" style="fill:#ACDFED; font-family:'Montserrat-Regular'; font-size:22px;">ed, i</tspan><tspan x="135.892" y="0" style="fill:#ACDFED; font-family:'Montserrat-Regular'; font-size:22px;">r</tspan><tspan x="144.472" y="0" style="fill:#ACDFED; font-family:'Montserrat-Regular'; font-size:22px;">r</tspan><tspan x="152.941" y="0" style="fill:#ACDFED; font-family:'Montserrat-Regular'; font-size:22px;">egular</tspan></text>
<rect x="1053.774" y="501.141" style="fill:#C5E8F2;" width="18.677" height="21.84"/>
<text transform="matrix(-6.123234e-17 -1 1 -6.123234e-17 31.3616 261.6025)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:23.1009px;">L</tspan><tspan x="13.56" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:23.1009px;">e</tspan><tspan x="27.698" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:23.1009px;">t</tspan><tspan x="36.984" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:23.1009px;">t</tspan><tspan x="46.155" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:23.1009px;">er </tspan><tspan x="75.978" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:23.1009px;">c</tspan><tspan x="89.03" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:23.1009px;">ha</tspan><tspan x="118.576" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:23.1009px;">n</tspan><tspan x="134.354" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:23.1009px;">ge</tspan></text>
<text transform="matrix(-6.123234e-17 -1 1 -6.123234e-17 59.0825 219.2348)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:23.1009px;">(</tspan><tspan x="7.785" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:23.1009px;">L</tspan><tspan x="21.229" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:23.1009px;">OC</tspan><tspan x="57.336" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:23.1009px;">F</tspan><tspan x="71.843" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:23.1009px;">)</tspan></text>
<text transform="matrix(1 0 0 1 433.4448 454.6669)" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20px;">Months</text>
<text transform="matrix(1 0 0 1 76.9204 31.0942)" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:20.37px;">10</text>
<text transform="matrix(1 0 0 1 85.2925 71.9155)" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:20.37px;">8</text>
<text transform="matrix(1 0 0 1 85.7607 125.1625)" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:20.37px;">6</text>
<text transform="matrix(1 0 0 1 84.7017 176.5971)" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:20.37px;">4</text>
<text transform="matrix(1 0 0 1 86.7183 226.2387)" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:20.37px;">2</text>
<text transform="matrix(1 0 0 1 84.9053 279.4863)" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:20.37px;">0</text>
<text transform="matrix(1 0 0 1 79.1812 329.1279)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:20.37px;">-</tspan><tspan x="7.557" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:20.37px;">2</tspan></text>
<text transform="matrix(1 0 0 1 76.7573 375.3466)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:20.37px;">-</tspan><tspan x="7.944" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:20.37px;">4</tspan></text>
<text transform="matrix(1 0 0 1 766.165 46.6689)"><tspan x="0" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:36px;">+</tspan><tspan x="21.563" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:36px;">8</tspan><tspan x="45.684" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:36px;">.</tspan><tspan x="54.647" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:36px;">0</tspan></text>
<text transform="matrix(1 0 0 1 766.5205 149.498)"><tspan x="0" y="0" style="fill:#98B0BD; font-family:'Montserrat-Bold'; font-size:36.21px;">+</tspan><tspan x="21.835" y="0" style="fill:#98B0BD; font-family:'Montserrat-Bold'; font-size:36.21px;">4</tspan><tspan x="47.507" y="0" style="fill:#98B0BD; font-family:'Montserrat-Bold'; font-size:36.21px;">.</tspan><tspan x="56.56" y="0" style="fill:#98B0BD; font-family:'Montserrat-Bold'; font-size:36.21px;">0</tspan></text>
<text transform="matrix(1 0 0 1 777.8535 232.9623)"><tspan x="0" y="0" style="fill:#75CAEC; font-family:'Montserrat-Bold'; font-size:36.21px;">+</tspan><tspan x="21.002" y="0" style="fill:#75CAEC; font-family:'Montserrat-Bold'; font-size:36.21px;">3</tspan><tspan x="42.438" y="0" style="fill:#75CAEC; font-family:'Montserrat-Bold'; font-size:36.21px;">.</tspan><tspan x="51.382" y="0" style="fill:#75CAEC; font-family:'Montserrat-Bold'; font-size:36.21px;">1</tspan></text>
<text transform="matrix(1 0 0 1 785.6025 337.8984)"><tspan x="0" y="0" style="fill:#C0E6F0; font-family:'Montserrat-Bold'; font-size:36.21px;">-</tspan><tspan x="13.252" y="0" style="fill:#C0E6F0; font-family:'Montserrat-Bold'; font-size:36.21px;">1</tspan><tspan x="27.446" y="0" style="fill:#C0E6F0; font-family:'Montserrat-Bold'; font-size:36.21px;">.</tspan><tspan x="36.354" y="0" style="fill:#C0E6F0; font-family:'Montserrat-Bold'; font-size:36.21px;">1</tspan></text>
<text transform="matrix(1 0 0 1 128.8071 416.3661)" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:20.37px;">0</text>
<text transform="matrix(1 0 0 1 237.9497 416.3661)" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:20.37px;">2</text>
<text transform="matrix(1 0 0 1 356.2383 416.3661)" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:20.37px;">4</text>
<text transform="matrix(1 0 0 1 469.4141 416.3661)" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:20.37px;">6</text>
<text transform="matrix(1 0 0 1 583.6694 416.3661)" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:20.37px;">8</text>
<text transform="matrix(1 0 0 1 693.4434 416.3661)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:20.37px;">1</tspan><tspan x="7.374" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:20.37px;">0</tspan></text>
<text transform="matrix(1 0 0 1 803.3594 416.3661)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:20.37px;">1</tspan><tspan x="7.374" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:20.37px;">2</tspan></text>
<text transform="matrix(1 0 0 1 1092.9189 83.4794)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">T</tspan><tspan x="11.713" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">r</tspan><tspan x="19.84" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">e</tspan><tspan x="32.021" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">at</tspan><tspan x="52.635" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">m</tspan><tspan x="74.228" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">en</tspan><tspan x="100.565" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">t</tspan><tspan x="108.815" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">-naï</tspan><tspan x="148.353" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">v</tspan><tspan x="159.454" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">e</tspan></text>
<text transform="matrix(1 0 0 1 964.4453 225.601)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">I</tspan><tspan x="6.314" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">r</tspan><tspan x="14.544" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">r</tspan><tspan x="22.671" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">egular</tspan></text>
<text transform="matrix(1 0 0 1 1316.2559 225.601)" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">Regular</text>
<text transform="matrix(1 0 0 1 1125.6943 374.8525)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">P</tspan><tspan x="14.34" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">r</tspan><tspan x="22.468" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">et</tspan><tspan x="43.367" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">r</tspan><tspan x="51.494" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">e</tspan><tspan x="63.676" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">a</tspan><tspan x="75.856" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">t</tspan><tspan x="83.923" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.37px;">ed</tspan></text>
<text transform="matrix(1 0 0 1 1076.7373 167.56)"><tspan x="0" y="0" style="fill:#FFFFFF; font-family:'Montserrat-Bold'; font-size:36.21px;">+</tspan><tspan x="21.835" y="0" style="fill:#FFFFFF; font-family:'Montserrat-Bold'; font-size:36.21px;">4</tspan><tspan x="47.507" y="0" style="fill:#FFFFFF; font-family:'Montserrat-Bold'; font-size:36.21px;">.</tspan><tspan x="56.523" y="0" style="fill:#FFFFFF; font-family:'Montserrat-Bold'; font-size:36.21px;">0</tspan></text>
<text transform="matrix(1 0 0 1 1091.8369 297.663)"><tspan x="0" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:36.21px;">-</tspan><tspan x="13.252" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:36.21px;">1</tspan><tspan x="27.446" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:36.21px;">.</tspan><tspan x="36.354" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:36.21px;">1</tspan></text>
<text transform="matrix(1 0 0 1 1207.999 297.7353)"><tspan x="0" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:36.21px;">+</tspan><tspan x="21.002" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:36.21px;">3</tspan><tspan x="42.438" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:36.21px;">.</tspan><tspan x="51.346" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:36.21px;">1</tspan></text>
<text transform="matrix(1 0 0 1 1200.8652 167.56)"><tspan x="0" y="0" style="fill:#FFFFFF; font-family:'Montserrat-Bold'; font-size:36.21px;">+</tspan><tspan x="21.689" y="0" style="fill:#FFFFFF; font-family:'Montserrat-Bold'; font-size:36.21px;">8</tspan><tspan x="45.95" y="0" style="fill:#FFFFFF; font-family:'Montserrat-Bold'; font-size:36.21px;">.</tspan><tspan x="55.002" y="0" style="fill:#FFFFFF; font-family:'Montserrat-Bold'; font-size:36.21px;">0</tspan></text>
</svg>
