<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.6, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1167.3 528.293" style="enable-background:new 0 0 1167.3 528.293;" xml:space="preserve">
<text transform="matrix(1 0 0 1 1040.0039 459.4249)"><tspan x="0" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;">M</tspan><tspan x="16.269" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;">o</tspan><tspan x="27.047" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;">n</tspan><tspan x="38.386" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;">t</tspan><tspan x="45.287" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;">h</tspan><tspan x="56.882" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;">s</tspan></text>
<text transform="matrix(1 0 0 1 15.2783 23.4595)"><tspan x="0" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;">E</tspan><tspan x="11.696" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;">T</tspan><tspan x="21.692" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;">D</tspan><tspan x="35.768" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;">R</tspan><tspan x="48.229" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;">S</tspan><tspan x="58.955" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;"> </tspan><tspan x="63.681" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;">l</tspan><tspan x="68.407" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;">e</tspan><tspan x="78.726" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;">t</tspan><tspan x="85.951" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;">t</tspan><tspan x="92.683" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;">e</tspan><tspan x="103.036" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;">r</tspan></text>
<text transform="matrix(1 0 0 1 125.2852 23.4595)" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;"> </text>
<text transform="matrix(1 0 0 1 51.4033 43.8599)"><tspan x="0" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;">g</tspan><tspan x="11.679" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;">ai</tspan><tspan x="26.213" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:17px;">n</tspan></text>
<text transform="matrix(1 0 0 1 110.4272 459.4249)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">0</text>
<text transform="matrix(1 0 0 1 64.5103 417.2989)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">0</text>
<text transform="matrix(1 0 0 1 65.2583 376.584)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">2</text>
<text transform="matrix(1 0 0 1 64.4082 328.7794)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">4</text>
<text transform="matrix(1 0 0 1 64.8501 279.5645)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">6</text>
<text transform="matrix(1 0 0 1 64.6631 228.9219)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">8</text>
<text transform="matrix(1 0 0 1 61.0591 178.2789)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">1</tspan><tspan x="6.868" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">0</tspan></text>
<text transform="matrix(1 0 0 1 61.8584 129.0635)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">1</tspan><tspan x="6.8" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">2</tspan></text>
<text transform="matrix(1 0 0 1 61.144 79.8487)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">1</tspan><tspan x="6.562" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">4</tspan></text>
<text transform="matrix(1 0 0 1 201.4961 459.4415)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">2</text>
<text transform="matrix(1 0 0 1 299.4673 459.4415)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">4</text>
<text transform="matrix(1 0 0 1 402.98 459.4415)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">6</text>
<text transform="matrix(1 0 0 1 505.8472 459.4415)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">8</text>
<text transform="matrix(1 0 0 1 603.8867 459.4415)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">1</tspan><tspan x="6.868" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">0</tspan></text>
<text transform="matrix(1 0 0 1 704.917 459.4415)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">1</tspan><tspan x="6.8" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">2</tspan></text>
<text transform="matrix(1 0 0 1 807.2744 459.4415)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">1</tspan><tspan x="6.562" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">4</tspan></text>
<text transform="matrix(1 0 0 1 909.2061 459.4415)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">1</tspan><tspan x="6.868" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">6</tspan></text>
<text transform="matrix(1 0 0 1 1010.6455 459.4415)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">1</tspan><tspan x="6.902" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:17px;">8</tspan></text>
<path style="fill:#D1D1D1;" d="M98.102,72.037h16.046H98.102z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="98.102" y1="72.037" x2="114.146" y2="72.037"/>
<path style="fill:#D1D1D1;" d="M98.102,274.108h16.046H98.102z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="98.102" y1="274.108" x2="114.146" y2="274.108"/>
<path style="fill:#D1D1D1;" d="M98.102,324.601h16.046H98.102z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="98.102" y1="324.602" x2="114.146" y2="324.602"/>
<path style="fill:#D1D1D1;" d="M98.102,375.094h16.046H98.102z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="98.102" y1="375.094" x2="114.146" y2="375.094"/>
<path style="fill:#D1D1D1;" d="M98.102,223.631h16.046H98.102z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="98.102" y1="223.631" x2="114.146" y2="223.631"/>
<path style="fill:#D1D1D1;" d="M98.102,122.677h16.046H98.102z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="98.102" y1="122.677" x2="114.146" y2="122.677"/>
<path style="fill:#D1D1D1;" d="M98.706,173.154h16.044H98.706z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="98.705" y1="173.154" x2="114.75" y2="173.154"/>
<path style="fill:#D1D1D1;" d="M204.666,429.969v-16.044V429.969z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="204.667" y1="429.969" x2="204.667" y2="413.926"/>
<path style="fill:#D1D1D1;" d="M306.649,429.969v-16.044V429.969z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="306.649" y1="429.969" x2="306.649" y2="413.926"/>
<path style="fill:#D1D1D1;" d="M408.632,429.969v-16.044V429.969z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="408.632" y1="429.969" x2="408.632" y2="413.926"/>
<path style="fill:#D1D1D1;" d="M510.613,429.969v-16.044V429.969z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="510.614" y1="429.969" x2="510.614" y2="413.926"/>
<path style="fill:#D1D1D1;" d="M612.596,429.969v-16.044V429.969z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="612.597" y1="429.969" x2="612.597" y2="413.926"/>
<path style="fill:#D1D1D1;" d="M714.579,429.969v-16.044V429.969z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="714.579" y1="429.969" x2="714.579" y2="413.926"/>
<path style="fill:#D1D1D1;" d="M816.562,429.969v-16.044V429.969z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="816.561" y1="429.969" x2="816.561" y2="413.926"/>
<path style="fill:#D1D1D1;" d="M918.661,429.969v-16.044V429.969z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="918.661" y1="429.969" x2="918.661" y2="413.926"/>
<path style="fill:#D1D1D1;" d="M1020.526,429.969v-16.044V429.969z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="1020.526" y1="429.969" x2="1020.526" y2="413.926"/>
<path style="fill:#D1D1D1;" d="M115.583,429.568l0.119-276.85L115.583,429.568z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="115.584" y1="429.568" x2="115.701" y2="152.719"/>
<g>
	<defs>
		<rect id="EX_SVGID_1_" x="93.238" y="67.672" width="934.958" height="366.662"/>
	</defs>
	<clipPath id="EX_SVGID_2_">
		<use xlink:href="#EX_SVGID_1_"  style="overflow:visible;"/>
	</clipPath>
	<polyline style="clip-path:url(#EX_SVGID_2_);fill:none;stroke:#404041;stroke-width:2.456;stroke-miterlimit:10;" points="
		115.584,72.037 115.584,412.445 1020.397,412.445 	"/>
</g>
<path style="fill:#D1D1D1;" d="M97.603,412.848h16.044H97.603z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="97.603" y1="412.849" x2="113.648" y2="412.849"/>
<path style="fill:#D1D1D1;" d="M115.714,429.232v-16.045V429.232z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="115.714" y1="429.232" x2="115.714" y2="413.187"/>
<path style="fill:#D1D1D1;" d="M304.441,219.892h5.038H304.441z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="304.441" y1="219.891" x2="309.48" y2="219.891"/>
<path style="fill:#D1D1D1;" d="M304.25,348.309h5.039H304.25z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="304.25" y1="348.31" x2="309.289" y2="348.31"/>
<path style="fill:#D1D1D1;" d="M306.518,348.05l0.119-128.418L306.518,348.05z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="306.519" y1="348.05" x2="306.636" y2="219.631"/>
<path style="fill:#D1D1D1;" d="M408.5,195.356h5.038H408.5z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="408.5" y1="195.356" x2="413.538" y2="195.356"/>
<path style="fill:#D1D1D1;" d="M408.308,323.773h5.037H408.308z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="408.308" y1="323.774" x2="413.346" y2="323.774"/>
<path style="fill:#D1D1D1;" d="M410.578,323.514l0.117-128.418L410.578,323.514z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="410.578" y1="323.514" x2="410.695" y2="195.095"/>
<path style="fill:#D1D1D1;" d="M507.947,161.666h5.039H507.947z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="507.947" y1="161.666" x2="512.986" y2="161.666"/>
<path style="fill:#D1D1D1;" d="M507.756,290.084h5.038H507.756z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="507.755" y1="290.084" x2="512.793" y2="290.084"/>
<path style="fill:#D1D1D1;" d="M510.025,289.824l0.118-128.417L510.025,289.824z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="510.025" y1="289.824" x2="510.142" y2="161.405"/>
<path style="fill:#D1D1D1;" d="M609.349,137.057h5.039H609.349z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="609.349" y1="137.056" x2="614.387" y2="137.056"/>
<path style="fill:#D1D1D1;" d="M609.158,265.474h5.038H609.158z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="609.158" y1="265.475" x2="614.197" y2="265.475"/>
<path style="fill:#D1D1D1;" d="M611.427,265.215l0.119-128.418L611.427,265.215z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="611.427" y1="265.215" x2="611.545" y2="136.796"/>
<path style="fill:#D1D1D1;" d="M711.332,166.397h5.037H711.332z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="711.332" y1="166.397" x2="716.37" y2="166.397"/>
<path style="fill:#D1D1D1;" d="M711.14,294.815h5.039H711.14z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="711.14" y1="294.814" x2="716.178" y2="294.814"/>
<path style="fill:#D1D1D1;" d="M713.409,294.554l0.118-128.417L713.409,294.554z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="713.409" y1="294.555" x2="713.527" y2="166.136"/>
<path style="fill:#D1D1D1;" d="M1015.734,81.985h5.038H1015.734z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="1015.734" y1="81.985" x2="1020.772" y2="81.985"/>
<path style="fill:#D1D1D1;" d="M1015.542,286.612h5.039H1015.542z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="1015.542" y1="286.612" x2="1020.58" y2="286.612"/>
<path style="fill:#D1D1D1;" d="M1017.812,286.198l0.117-204.627L1017.812,286.198z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.612;stroke-miterlimit:10;" x1="1017.812" y1="286.197" x2="1017.928" y2="81.57"/>
<g>
	<defs>
		<rect id="EX_SVGID_3_" x="93.238" y="67.672" width="934.958" height="366.662"/>
	</defs>
	<clipPath id="EX_SVGID_4_">
		<use xlink:href="#EX_SVGID_3_"  style="overflow:visible;"/>
	</clipPath>
	<polyline style="clip-path:url(#EX_SVGID_4_);fill:none;stroke:#003B5C;stroke-width:4.912;stroke-miterlimit:10;" points="
		115.702,412.717 306.52,281.33 408.62,263.89 510.602,225.744 612.466,200.361 714.567,237.549 1020.396,184.091 	"/>
	<path style="clip-path:url(#EX_SVGID_4_);fill:#003B5C;" d="M517.153,225.745c0,3.618-2.933,6.551-6.551,6.551
		c-3.619,0-6.552-2.933-6.552-6.551c0-3.618,2.933-6.551,6.552-6.551C514.22,219.194,517.153,222.127,517.153,225.745"/>
	<path style="clip-path:url(#EX_SVGID_4_);fill:none;stroke:#003B5C;stroke-width:2.456;stroke-miterlimit:10;" d="M517.153,225.745
		c0,3.618-2.933,6.551-6.551,6.551c-3.619,0-6.552-2.933-6.552-6.551c0-3.618,2.933-6.551,6.552-6.551
		C514.22,219.194,517.153,222.127,517.153,225.745z"/>
	<path style="clip-path:url(#EX_SVGID_4_);fill:#003B5C;" d="M416.355,262.454c0,3.618-2.933,6.551-6.55,6.551
		c-3.618,0-6.551-2.933-6.551-6.551c0-3.617,2.933-6.55,6.551-6.55C413.422,255.904,416.355,258.837,416.355,262.454"/>
	<path style="clip-path:url(#EX_SVGID_4_);fill:none;stroke:#003B5C;stroke-width:2.456;stroke-miterlimit:10;" d="M416.355,262.454
		c0,3.618-2.933,6.551-6.55,6.551c-3.618,0-6.551-2.933-6.551-6.551c0-3.617,2.933-6.55,6.551-6.55
		C413.422,255.904,416.355,258.837,416.355,262.454z"/>
	<path style="clip-path:url(#EX_SVGID_4_);fill:#003B5C;" d="M313.188,282.018c0,3.618-2.933,6.551-6.551,6.551
		c-3.619,0-6.552-2.933-6.552-6.551c0-3.617,2.933-6.55,6.552-6.55C310.255,275.468,313.188,278.401,313.188,282.018"/>
	<path style="clip-path:url(#EX_SVGID_4_);fill:none;stroke:#003B5C;stroke-width:2.456;stroke-miterlimit:10;" d="M313.188,282.018
		c0,3.618-2.933,6.551-6.551,6.551c-3.619,0-6.552-2.933-6.552-6.551c0-3.617,2.933-6.55,6.552-6.55
		C310.255,275.468,313.188,278.401,313.188,282.018z"/>
	<path style="clip-path:url(#EX_SVGID_4_);fill:#003B5C;" d="M122.253,410.581c0,3.617-2.933,6.55-6.551,6.55
		c-3.619,0-6.552-2.933-6.552-6.55c0-3.617,2.933-6.55,6.552-6.55C119.32,404.031,122.253,406.964,122.253,410.581"/>
	<path style="clip-path:url(#EX_SVGID_4_);fill:none;stroke:#003B5C;stroke-width:2.456;stroke-miterlimit:10;" d="M122.253,410.581
		c0,3.617-2.933,6.55-6.551,6.55c-3.619,0-6.552-2.933-6.552-6.55c0-3.617,2.933-6.55,6.552-6.55
		C119.32,404.031,122.253,406.964,122.253,410.581z"/>
	<path style="clip-path:url(#EX_SVGID_4_);fill:#003B5C;" d="M619.135,201.136c0,3.618-2.933,6.551-6.551,6.551
		c-3.619,0-6.552-2.933-6.552-6.551c0-3.618,2.933-6.551,6.552-6.551C616.202,194.585,619.135,197.518,619.135,201.136"/>
	<path style="clip-path:url(#EX_SVGID_4_);fill:none;stroke:#003B5C;stroke-width:2.456;stroke-miterlimit:10;" d="M619.135,201.136
		c0,3.618-2.933,6.551-6.551,6.551c-3.619,0-6.552-2.933-6.552-6.551c0-3.618,2.933-6.551,6.552-6.551
		C616.202,194.585,619.135,197.518,619.135,201.136z"/>
	<path style="clip-path:url(#EX_SVGID_4_);fill:#003B5C;" d="M719.718,237.027c0,3.617-2.933,6.55-6.55,6.55
		c-3.618,0-6.551-2.933-6.551-6.55c0-3.618,2.933-6.551,6.551-6.551C716.785,230.476,719.718,233.409,719.718,237.027"/>
	<path style="clip-path:url(#EX_SVGID_4_);fill:none;stroke:#003B5C;stroke-width:2.456;stroke-miterlimit:10;" d="M719.718,237.027
		c0,3.617-2.933,6.55-6.55,6.55c-3.618,0-6.551-2.933-6.551-6.55c0-3.618,2.933-6.551,6.551-6.551
		C716.785,230.476,719.718,233.409,719.718,237.027z"/>
	<path style="clip-path:url(#EX_SVGID_4_);fill:#003B5C;" d="M1024.362,184.092c0,3.617-2.933,6.551-6.55,6.551
		c-3.618,0-6.551-2.934-6.551-6.551c0-3.618,2.933-6.551,6.551-6.551C1021.429,177.541,1024.362,180.474,1024.362,184.092"/>
	<path style="clip-path:url(#EX_SVGID_4_);fill:none;stroke:#003B5C;stroke-width:2.456;stroke-miterlimit:10;" d="M1024.362,184.092
		c0,3.617-2.933,6.551-6.55,6.551c-3.618,0-6.551-2.934-6.551-6.551c0-3.618,2.933-6.551,6.551-6.551
		C1021.429,177.541,1024.362,180.474,1024.362,184.092z"/>
</g>
</svg>
