<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1340.32 599.942" style="enable-background:new 0 0 1340.32 599.942;" xml:space="preserve">
<polygon style="fill:#ACDFED;" points="1227.585,421.359 1197.842,387.616 1197.842,400.712 1019.26,400.712 1019.26,442.006 
	1197.842,442.006 1197.842,455.102 "/>
<polygon style="fill:#ACDFED;" points="933.617,421.359 903.874,387.616 903.874,400.712 725.291,400.712 725.291,442.006 
	903.874,442.006 903.874,455.102 "/>
<polygon style="fill:#ACDFED;" points="644.841,421.359 615.098,387.616 615.098,400.712 436.515,400.712 436.515,442.006 
	615.098,442.006 615.098,455.102 "/>
<polygon style="fill:#ACDFED;" points="350.713,421.359 320.97,387.616 320.97,400.712 142.387,400.712 142.387,442.006 
	320.97,442.006 320.97,455.102 "/>
<path style="fill:#919191;" d="M392.829,475.362V71.454V475.362z"/>
<line style="fill:none;stroke:#D1D1D1;stroke-width:0.569;stroke-miterlimit:10;" x1="392.829" y1="475.362" x2="392.829" y2="71.454"/>
<g>
	<defs>
		<rect id="SSS_SVGID_1_" x="84.407" y="67.851" width="1222.193" height="411.116"/>
	</defs>
	<clipPath id="SSS_SVGID_2_">
		<use xlink:href="#SSS_SVGID_1_"  style="overflow:visible;"/>
	</clipPath>
	<path style="clip-path:url(#SSS_SVGID_2_);fill:#D0D0D0;" d="M392.728,473.557c0.996,0,1.805,0.808,1.805,1.805
		c0,0.996-0.809,1.805-1.805,1.805c-0.996,0-1.805-0.809-1.805-1.805C390.923,474.365,391.732,473.557,392.728,473.557"/>
	<line style="clip-path:url(#SSS_SVGID_2_);fill:#919191;" x1="682.755" y1="475.362" x2="682.755" y2="71.454"/>
	
		<line style="clip-path:url(#SSS_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:0.569;stroke-miterlimit:10;" x1="682.755" y1="475.362" x2="682.755" y2="71.454"/>
	<path style="clip-path:url(#SSS_SVGID_2_);fill:#D0D0D0;" d="M682.653,473.557c0.996,0,1.805,0.808,1.805,1.805
		c0,0.996-0.809,1.805-1.805,1.805c-0.997,0-1.805-0.809-1.805-1.805C680.848,474.365,681.656,473.557,682.653,473.557"/>
	<line style="clip-path:url(#SSS_SVGID_2_);fill:#919191;" x1="974.403" y1="475.362" x2="974.403" y2="71.454"/>
	
		<line style="clip-path:url(#SSS_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:0.569;stroke-miterlimit:10;" x1="974.403" y1="475.362" x2="974.403" y2="71.454"/>
	<path style="clip-path:url(#SSS_SVGID_2_);fill:#D0D0D0;" d="M974.302,473.557c0.996,0,1.805,0.808,1.805,1.805
		c0,0.996-0.809,1.805-1.805,1.805c-0.997,0-1.805-0.809-1.805-1.805C972.497,474.365,973.305,473.557,974.302,473.557"/>
	<line style="clip-path:url(#SSS_SVGID_2_);fill:#919191;" x1="1266.98" y1="475.362" x2="1266.981" y2="71.454"/>
	
		<line style="clip-path:url(#SSS_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:0.569;stroke-miterlimit:10;" x1="1266.98" y1="475.362" x2="1266.981" y2="71.454"/>
	<path style="clip-path:url(#SSS_SVGID_2_);fill:#D0D0D0;" d="M1266.878,473.557c0.996,0,1.805,0.808,1.805,1.805
		c0,0.996-0.809,1.805-1.805,1.805c-0.996,0-1.805-0.809-1.805-1.805C1265.073,474.365,1265.882,473.557,1266.878,473.557"/>
	<line style="clip-path:url(#SSS_SVGID_2_);fill:#919191;" x1="88.012" y1="371.46" x2="1302.995" y2="371.46"/>
	
		<line style="clip-path:url(#SSS_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:0.569;stroke-miterlimit:10;" x1="88.012" y1="371.46" x2="1302.995" y2="371.46"/>
	<path style="clip-path:url(#SSS_SVGID_2_);fill:#D0D0D0;" d="M89.817,371.359c0,0.996-0.808,1.805-1.805,1.805
		c-0.996,0-1.804-0.809-1.804-1.805c0-0.996,0.808-1.805,1.804-1.805C89.009,369.554,89.817,370.363,89.817,371.359"/>
	<line style="clip-path:url(#SSS_SVGID_2_);fill:#919191;" x1="88.012" y1="276.187" x2="1302.995" y2="276.187"/>
	
		<line style="clip-path:url(#SSS_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:0.569;stroke-miterlimit:10;" x1="88.012" y1="276.187" x2="1302.995" y2="276.187"/>
	<path style="clip-path:url(#SSS_SVGID_2_);fill:#D0D0D0;" d="M89.817,276.085c0,0.996-0.808,1.805-1.805,1.805
		c-0.996,0-1.804-0.809-1.804-1.805c0-0.996,0.808-1.805,1.804-1.805C89.009,274.28,89.817,275.089,89.817,276.085"/>
	<line style="clip-path:url(#SSS_SVGID_2_);fill:#919191;" x1="88.012" y1="180.914" x2="1302.995" y2="180.914"/>
	
		<line style="clip-path:url(#SSS_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:0.569;stroke-miterlimit:10;" x1="88.012" y1="180.914" x2="1302.995" y2="180.914"/>
	<path style="clip-path:url(#SSS_SVGID_2_);fill:#D0D0D0;" d="M89.817,180.812c0,0.996-0.808,1.805-1.805,1.805
		c-0.996,0-1.804-0.809-1.804-1.805c0-0.996,0.808-1.805,1.804-1.805C89.009,179.007,89.817,179.816,89.817,180.812"/>
	<line style="clip-path:url(#SSS_SVGID_2_);fill:#919191;" x1="88.012" y1="85.64" x2="1302.995" y2="85.64"/>
	
		<line style="clip-path:url(#SSS_SVGID_2_);fill:none;stroke:#D1D1D1;stroke-width:0.569;stroke-miterlimit:10;" x1="88.012" y1="85.64" x2="1302.995" y2="85.64"/>
	<path style="clip-path:url(#SSS_SVGID_2_);fill:#D0D0D0;" d="M89.817,85.538c0,0.996-0.808,1.805-1.805,1.805
		c-0.996,0-1.804-0.809-1.804-1.805c0-0.996,0.808-1.805,1.804-1.805C89.009,83.733,89.817,84.542,89.817,85.538"/>
	<polyline style="clip-path:url(#SSS_SVGID_2_);fill:none;stroke:#404041;stroke-width:1.745;stroke-miterlimit:10;" points="
		95.836,71.454 95.836,467.368 1302.996,467.368 	"/>
	<path style="clip-path:url(#SSS_SVGID_2_);fill:#003B5C;" d="M95.836,279.378c-4.521,0-8.199,3.678-8.199,8.199
		c0,4.519,3.678,8.197,8.199,8.197c4.52,0,8.198-3.678,8.198-8.197C104.034,283.056,100.356,279.378,95.836,279.378"/>
	<path style="clip-path:url(#SSS_SVGID_2_);fill:#003B5C;" d="M394.533,159.857c-4.521,0-8.199,3.678-8.199,8.199
		c0,4.519,3.678,8.198,8.199,8.198c4.52,0,8.198-3.679,8.198-8.198C402.731,163.535,399.053,159.857,394.533,159.857"/>
	<path style="clip-path:url(#SSS_SVGID_2_);fill:#003B5C;" d="M683.126,159.857c-4.522,0-8.199,3.678-8.199,8.199
		c0,4.519,3.677,8.198,8.199,8.198c4.52,0,8.198-3.679,8.198-8.198C691.324,163.535,687.646,159.857,683.126,159.857"/>
	<polyline style="clip-path:url(#SSS_SVGID_2_);fill:none;stroke:#003B5C;stroke-width:3.415;stroke-miterlimit:10;" points="
		95.836,287.576 392.728,168.055 680.849,168.055 974.404,192.646 1265.074,204.48 	"/>
	<path style="clip-path:url(#SSS_SVGID_2_);fill:#003B5C;" d="M974.766,184.448c-4.522,0-8.199,3.678-8.199,8.199
		c0,4.519,3.677,8.197,8.199,8.197c4.52,0,8.198-3.678,8.198-8.197C982.964,188.126,979.286,184.448,974.766,184.448"/>
	<path style="clip-path:url(#SSS_SVGID_2_);fill:#003B5C;" d="M1267.166,195.973c-4.521,0-8.199,3.678-8.199,8.199
		c0,4.519,3.678,8.198,8.199,8.198c4.52,0,8.198-3.679,8.198-8.198C1275.364,199.651,1271.686,195.973,1267.166,195.973"/>
</g>
<text transform="matrix(-6.123234e-17 -1 1 -6.123234e-17 28.3596 402.7032)"><tspan x="0" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">M</tspan><tspan x="19.12" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">e</tspan><tspan x="31.28" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">a</tspan><tspan x="43.04" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">n</tspan><tspan x="56.859" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;"> </tspan><tspan x="62.419" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">B</tspan><tspan x="77.619" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">C</tspan><tspan x="92.439" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px; letter-spacing:-1;">V</tspan><tspan x="105.679" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">A</tspan><tspan x="120.519" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;"> </tspan><tspan x="126.079" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">(</tspan><tspan x="132.539" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">E</tspan><tspan x="146.278" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">T</tspan><tspan x="158.019" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">D</tspan><tspan x="174.558" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">R</tspan><tspan x="189.198" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">S</tspan><tspan x="201.438" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">)</tspan><tspan x="208.377" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;"> </tspan><tspan x="213.958" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">l</tspan><tspan x="219.498" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">e</tspan><tspan x="231.617" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">t</tspan><tspan x="240.097" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">t</tspan><tspan x="247.997" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">e</tspan><tspan x="260.177" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">r</tspan><tspan x="268.497" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:20px;">s</tspan></text>
<text transform="matrix(1 0 0 1 636.9482 592.1559)"><tspan x="0" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px; letter-spacing:-1;">Y</tspan><tspan x="12.804" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="26.158" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">a</tspan><tspan x="39.094" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">r</tspan><tspan x="48.224" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">s</tspan></text>
<text transform="matrix(1 0 0 1 51.1763 87.5641)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">7</tspan><tspan x="13.288" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">0</tspan></text>
<text transform="matrix(1 0 0 1 51.8804 182.318)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">6</tspan><tspan x="14.41" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">5</tspan></text>
<text transform="matrix(1 0 0 1 377.5825 138.2633)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:26px;">6</tspan><tspan x="17.004" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:26px;">5</tspan><tspan x="33.228" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:26px; letter-spacing:1;">.</tspan><tspan x="41.261" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:26px;">5</tspan></text>
<text transform="matrix(1 0 0 1 113.7085 210.7775)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:26px;">5</tspan><tspan x="15.756" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:26px;">9</tspan><tspan x="32.292" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:26px;">.</tspan><tspan x="39.779" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:26px;">8</tspan></text>
<text transform="matrix(1 0 0 1 658.1226 138.5753)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:26px;">6</tspan><tspan x="17.003" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:26px;">5</tspan><tspan x="33.227" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:26px; letter-spacing:1;">.</tspan><tspan x="41.261" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:26px;">5</tspan></text>
<text transform="matrix(1 0 0 1 947.8408 161.4293)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:26px;">6</tspan><tspan x="17.056" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:26px;">4</tspan><tspan x="35.905" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:26px; letter-spacing:1;">.</tspan><tspan x="43.783" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:26px;">2</tspan></text>
<text transform="matrix(1 0 0 1 1237.3242 171.3097)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:26px;">6</tspan><tspan x="16.926" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:26px;">3</tspan><tspan x="32.968" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:26px;">.</tspan><tspan x="40.378" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:26px;">4</tspan></text>
<text transform="matrix(1 0 0 1 50.0776 274.6544)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">6</tspan><tspan x="14.366" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">0</tspan></text>
<text transform="matrix(1 0 0 1 52.8276 370.6403)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">5</tspan><tspan x="13.486" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">5</tspan></text>
<text transform="matrix(1 0 0 1 51.0898 466.6705)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">5</tspan><tspan x="13.354" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">0</tspan></text>
<text transform="matrix(1 0 0 1 89.5898 501.1442)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">0</text>
<text transform="matrix(1 0 0 1 59.5156 527.5446)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">(</tspan><tspan x="6.732" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="21.428" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">=</tspan><tspan x="33.638" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">2</tspan><tspan x="47.013" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">3</tspan><tspan x="59.883" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">1</tspan><tspan x="67.671" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">)</tspan></text>
<text transform="matrix(1 0 0 1 179.2397 430.6119)"><tspan x="0" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px; letter-spacing:-1;">Y</tspan><tspan x="13.552" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">ea</tspan><tspan x="40.963" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">r </tspan><tspan x="57.111" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">1</tspan><tspan x="66.109" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">: </tspan><tspan x="78.539" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px; letter-spacing:-1;">7</tspan><tspan x="90.815" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">.</tspan><tspan x="95.896" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">7</tspan></text>
<text transform="matrix(1 0 0 1 469.1997 430.6119)"><tspan x="0" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px; letter-spacing:-1;">Y</tspan><tspan x="13.552" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">ea</tspan><tspan x="40.963" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">r </tspan><tspan x="57.111" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">2</tspan><tspan x="70.707" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">:</tspan><tspan x="76.669" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;"> </tspan><tspan x="83.115" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">4</tspan><tspan x="99.087" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">.</tspan><tspan x="105.378" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">4</tspan></text>
<text transform="matrix(1 0 0 1 517.4238 361.6422)"><tspan x="0" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">M</tspan><tspan x="21.01" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="34.364" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">a</tspan><tspan x="47.299" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="62.479" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;"> </tspan><tspan x="68.618" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="83.27" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">u</tspan><tspan x="97.921" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">m</tspan><tspan x="120.977" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">b</tspan><tspan x="136.113" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="149.489" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">r </tspan><tspan x="164.866" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">o</tspan><tspan x="178.704" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">f </tspan><tspan x="192.828" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">i</tspan><tspan x="198.68" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="213.354" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">j</tspan><tspan x="219.47" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="233.066" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">c</tspan><tspan x="246.046" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">t</tspan><tspan x="254.934" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">i</tspan><tspan x="260.939" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">o</tspan><tspan x="274.865" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="289.848" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">s </tspan><tspan x="307.227" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">i</tspan><tspan x="313.079" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="327.841" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Medium'; font-size:22px;">:</tspan></text>
<text transform="matrix(1 0 0 1 118.6865 30.2321)"><tspan x="0" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">M</tspan><tspan x="23.04" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">e</tspan><tspan x="38.16" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">a</tspan><tspan x="52.919" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">n </tspan><tspan x="76.775" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">B</tspan><tspan x="95.183" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">C</tspan><tspan x="113.183" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px; letter-spacing:-1;">V</tspan><tspan x="129.766" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">A </tspan><tspan x="155.422" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">f</tspan><tspan x="164.709" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">r</tspan><tspan x="175.006" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">o</tspan><tspan x="190.75" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">m</tspan><tspan x="216.142" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;"> </tspan><tspan x="223.173" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">b</tspan><tspan x="239.733" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">a</tspan><tspan x="254.661" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">s</tspan><tspan x="267.572" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">e</tspan><tspan x="282.74" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">li</tspan><tspan x="297.14" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">n</tspan><tspan x="313.724" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">e</tspan><tspan x="329.084" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;"> </tspan><tspan x="336.116" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">t</tspan><tspan x="346.436" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">o</tspan><tspan x="362.372" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;"> </tspan><tspan x="369.403" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px; letter-spacing:-1;">Y</tspan><tspan x="384.163" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">e</tspan><tspan x="399.283" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">a</tspan><tspan x="414.043" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">r</tspan><tspan x="424.603" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;"> </tspan><tspan x="431.635" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Bold'; font-size:24px;">4 </tspan></text>
<text transform="matrix(1 0 0 1 747.0938 430.6324)"><tspan x="0" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px; letter-spacing:-1;">Y</tspan><tspan x="13.112" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">ea</tspan><tspan x="39.644" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">r 3: </tspan><tspan x="79.375" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">~</tspan><tspan x="92.179" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">4</tspan><tspan x="107.711" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">.</tspan><tspan x="113.188" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">0</tspan></text>
<text transform="matrix(1 0 0 1 1043.9404 430.6324)"><tspan x="0" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px; letter-spacing:-1;">Y</tspan><tspan x="13.552" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">ea</tspan><tspan x="40.964" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">r </tspan><tspan x="57.111" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">4</tspan><tspan x="72.709" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">: </tspan><tspan x="85.139" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">~</tspan><tspan x="98.36" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">4</tspan><tspan x="114.333" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">.</tspan><tspan x="120.229" y="0" style="fill:#3C3C3B; font-family:'Montserrat-Bold'; font-size:22px;">0</tspan></text>
<text transform="matrix(1 0 0 1 389.4844 501.1647)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">1</text>
<text transform="matrix(1 0 0 1 356.2642 527.5651)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">(</tspan><tspan x="6.732" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="21.428" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">=</tspan><tspan x="33.638" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">2</tspan><tspan x="47.013" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">3</tspan><tspan x="59.883" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">1</tspan><tspan x="67.671" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">)</tspan></text>
<text transform="matrix(1 0 0 1 677.3105 501.1647)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">2</text>
<text transform="matrix(1 0 0 1 646.4004 527.5651)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">(</tspan><tspan x="6.732" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="21.428" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">=</tspan><tspan x="33.439" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">1</tspan><tspan x="41.514" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">7</tspan><tspan x="55.197" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">2</tspan><tspan x="67.429" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">)</tspan></text>
<text transform="matrix(1 0 0 1 968.2598 501.1647)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">3</text>
<text transform="matrix(1 0 0 1 940.2324 527.5651)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">(</tspan><tspan x="6.731" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="21.428" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">=</tspan><tspan x="33.439" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">1</tspan><tspan x="41.491" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">1</tspan><tspan x="49.478" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">2</tspan><tspan x="61.709" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">)</tspan></text>
<text transform="matrix(1 0 0 1 1258.8799 501.1647)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">4</text>
<text transform="matrix(1 0 0 1 1234.5039 527.5651)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">(</tspan><tspan x="6.731" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="21.428" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">=</tspan><tspan x="34.716" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">6</tspan><tspan x="48.663" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">1</tspan><tspan x="56.451" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">)</tspan></text>
<text transform="matrix(1 0 0 1 372.4438 205.4288)"><tspan x="0" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:26px;">+</tspan><tspan x="15.392" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:26px;">5</tspan><tspan x="31.616" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:26px;">.</tspan><tspan x="37.595" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:26px;">7</tspan></text>
<text transform="matrix(1 0 0 1 658.9639 205.6368)"><tspan x="0" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:26px;">+</tspan><tspan x="15.392" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:26px;">5</tspan><tspan x="31.615" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:26px;">.</tspan><tspan x="37.596" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:26px;">7</tspan></text>
<text transform="matrix(1 0 0 1 947.4336 226.8009)"><tspan x="0" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:26px;">+</tspan><tspan x="15.392" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:26px;">4</tspan><tspan x="34.242" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:26px;">.</tspan><tspan x="41.651" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:26px;">4</tspan></text>
<text transform="matrix(1 0 0 1 1238.9463 241.1007)"><tspan x="0" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:26px;">+</tspan><tspan x="14.846" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:26px;">3</tspan><tspan x="30.888" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:26px;">.</tspan><tspan x="37.907" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:26px;">6</tspan></text>
</svg>
