<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1635.49 526.548" style="enable-background:new 0 0 1635.49 526.548;" xml:space="preserve">
<text transform="matrix(1 0 0 1 1320.8438 400.254)" style="fill:#929292; font-family:'Arial-ItalicMT'; font-size:22px;">P</text>
<text transform="matrix(1 0 0 1 1335.5176 400.254)" style="fill:#929292; font-family:'ArialMT'; font-size:22px;">&lt;0.05</text>
<path style="fill:#929292;" d="M117.143,440.36V66.599V440.36z"/>
<line style="fill:none;stroke:#D2D2D2;stroke-width:0.557;stroke-miterlimit:10;" x1="117.143" y1="440.36" x2="117.143" y2="66.599"/>
<g>
	<defs>
		<rect id="SSFO_SVGID_1_" x="98.661" y="10.939" width="1108.519" height="432.949"/>
	</defs>
	<clipPath id="SSFO_SVGID_2_">
		<use xlink:href="#SSFO_SVGID_1_"  style="overflow:visible;"/>
	</clipPath>
	<path style="clip-path:url(#SSFO_SVGID_2_);fill:#D2D2D1;" d="M117.044,438.594c0.975,0,1.766,0.79,1.766,1.766
		c0,0.975-0.791,1.766-1.766,1.766c-0.975,0-1.766-0.791-1.766-1.766C115.278,439.384,116.069,438.594,117.044,438.594"/>
	<line style="clip-path:url(#SSFO_SVGID_2_);fill:#929292;" x1="1187.692" y1="438.594" x2="1187.693" y2="14.467"/>
	
		<line style="clip-path:url(#SSFO_SVGID_2_);fill:none;stroke:#D2D2D2;stroke-width:0.557;stroke-miterlimit:10;" x1="1187.692" y1="438.594" x2="1187.693" y2="14.467"/>
	<path style="clip-path:url(#SSFO_SVGID_2_);fill:#D2D2D1;" d="M1187.593,436.828c0.975,0,1.766,0.79,1.766,1.766
		c0,0.975-0.791,1.766-1.766,1.766c-0.974,0-1.766-0.791-1.766-1.766C1185.827,437.618,1186.619,436.828,1187.593,436.828"/>
	<line style="clip-path:url(#SSFO_SVGID_2_);fill:#929292;" x1="1098.152" y1="438.594" x2="1098.152" y2="14.467"/>
	
		<line style="clip-path:url(#SSFO_SVGID_2_);fill:none;stroke:#D2D2D2;stroke-width:0.557;stroke-miterlimit:10;" x1="1098.152" y1="438.594" x2="1098.152" y2="14.467"/>
	<path style="clip-path:url(#SSFO_SVGID_2_);fill:#D2D2D1;" d="M1098.053,436.828c0.975,0,1.766,0.79,1.766,1.766
		c0,0.975-0.791,1.766-1.766,1.766c-0.975,0-1.766-0.791-1.766-1.766C1096.287,437.618,1097.078,436.828,1098.053,436.828"/>
	<line style="clip-path:url(#SSFO_SVGID_2_);fill:#929292;" x1="1007.915" y1="438.594" x2="1007.915" y2="14.467"/>
	
		<line style="clip-path:url(#SSFO_SVGID_2_);fill:none;stroke:#D2D2D2;stroke-width:0.557;stroke-miterlimit:10;" x1="1007.915" y1="438.594" x2="1007.915" y2="14.467"/>
	<path style="clip-path:url(#SSFO_SVGID_2_);fill:#D2D2D1;" d="M1007.815,436.828c0.975,0,1.766,0.79,1.766,1.766
		c0,0.975-0.791,1.766-1.766,1.766c-0.975,0-1.766-0.791-1.766-1.766C1006.049,437.618,1006.84,436.828,1007.815,436.828"/>
	<line style="clip-path:url(#SSFO_SVGID_2_);fill:#929292;" x1="919.906" y1="438.594" x2="919.906" y2="14.467"/>
	
		<line style="clip-path:url(#SSFO_SVGID_2_);fill:none;stroke:#D2D2D2;stroke-width:0.557;stroke-miterlimit:10;" x1="919.906" y1="438.594" x2="919.906" y2="14.467"/>
	<path style="clip-path:url(#SSFO_SVGID_2_);fill:#D2D2D1;" d="M919.806,436.828c0.975,0,1.766,0.79,1.766,1.766
		c0,0.975-0.791,1.766-1.766,1.766c-0.975,0-1.766-0.791-1.766-1.766C918.04,437.618,918.831,436.828,919.806,436.828"/>
	<line style="clip-path:url(#SSFO_SVGID_2_);fill:#929292;" x1="829.669" y1="438.594" x2="829.669" y2="14.467"/>
	
		<line style="clip-path:url(#SSFO_SVGID_2_);fill:none;stroke:#D2D2D2;stroke-width:0.557;stroke-miterlimit:10;" x1="829.669" y1="438.594" x2="829.669" y2="14.467"/>
	<path style="clip-path:url(#SSFO_SVGID_2_);fill:#D2D2D1;" d="M829.569,436.828c0.975,0,1.766,0.79,1.766,1.766
		c0,0.975-0.791,1.766-1.766,1.766c-0.975,0-1.766-0.791-1.766-1.766C827.803,437.618,828.594,436.828,829.569,436.828"/>
	<line style="clip-path:url(#SSFO_SVGID_2_);fill:#929292;" x1="740.545" y1="438.594" x2="740.545" y2="14.467"/>
	
		<line style="clip-path:url(#SSFO_SVGID_2_);fill:none;stroke:#D2D2D2;stroke-width:0.557;stroke-miterlimit:10;" x1="740.545" y1="438.594" x2="740.545" y2="14.467"/>
	<path style="clip-path:url(#SSFO_SVGID_2_);fill:#D2D2D1;" d="M740.446,436.828c0.975,0,1.766,0.79,1.766,1.766
		c0,0.975-0.791,1.766-1.766,1.766c-0.975,0-1.766-0.791-1.766-1.766C738.68,437.618,739.471,436.828,740.446,436.828"/>
	<line style="clip-path:url(#SSFO_SVGID_2_);fill:#929292;" x1="651.422" y1="438.594" x2="651.422" y2="14.467"/>
	
		<line style="clip-path:url(#SSFO_SVGID_2_);fill:none;stroke:#D2D2D2;stroke-width:0.557;stroke-miterlimit:10;" x1="651.422" y1="438.594" x2="651.422" y2="14.467"/>
	<path style="clip-path:url(#SSFO_SVGID_2_);fill:#D2D2D1;" d="M651.323,436.828c0.975,0,1.766,0.79,1.766,1.766
		c0,0.975-0.791,1.766-1.766,1.766c-0.975,0-1.766-0.791-1.766-1.766C649.556,437.618,650.347,436.828,651.323,436.828"/>
	<line style="clip-path:url(#SSFO_SVGID_2_);fill:#929292;" x1="102.189" y1="25.507" x2="1203.652" y2="25.507"/>
	
		<line style="clip-path:url(#SSFO_SVGID_2_);fill:none;stroke:#D2D2D2;stroke-width:0.557;stroke-miterlimit:10;" x1="102.189" y1="25.507" x2="1203.652" y2="25.507"/>
	<path style="clip-path:url(#SSFO_SVGID_2_);fill:#D2D2D1;" d="M103.955,25.408c0,0.975-0.791,1.766-1.766,1.766
		c-0.975,0-1.766-0.791-1.766-1.766c0-0.975,0.791-1.766,1.766-1.766C103.164,23.642,103.955,24.433,103.955,25.408"/>
	<line style="clip-path:url(#SSFO_SVGID_2_);fill:#929292;" x1="102.189" y1="178.131" x2="1203.652" y2="178.131"/>
	
		<line style="clip-path:url(#SSFO_SVGID_2_);fill:none;stroke:#D2D2D2;stroke-width:0.557;stroke-miterlimit:10;" x1="102.189" y1="178.131" x2="1203.652" y2="178.131"/>
	<path style="clip-path:url(#SSFO_SVGID_2_);fill:#D2D2D1;" d="M103.955,178.031c0,0.975-0.791,1.766-1.766,1.766
		c-0.975,0-1.766-0.791-1.766-1.766c0-0.975,0.791-1.766,1.766-1.766C103.164,176.265,103.955,177.056,103.955,178.031"/>
	<line style="clip-path:url(#SSFO_SVGID_2_);fill:#929292;" x1="102.189" y1="330.755" x2="1203.652" y2="330.755"/>
	
		<line style="clip-path:url(#SSFO_SVGID_2_);fill:none;stroke:#D2D2D2;stroke-width:0.557;stroke-miterlimit:10;" x1="102.189" y1="330.755" x2="1203.652" y2="330.755"/>
	<path style="clip-path:url(#SSFO_SVGID_2_);fill:#D2D2D1;" d="M103.955,330.655c0,0.974-0.791,1.766-1.766,1.766
		c-0.975,0-1.766-0.792-1.766-1.766c0-0.975,0.791-1.767,1.766-1.767C103.164,328.888,103.955,329.68,103.955,330.655"/>
	<line style="clip-path:url(#SSFO_SVGID_2_);fill:#929292;" x1="102.189" y1="432.551" x2="1203.652" y2="432.551"/>
	
		<line style="clip-path:url(#SSFO_SVGID_2_);fill:none;stroke:#D2D2D2;stroke-width:0.557;stroke-miterlimit:10;" x1="102.189" y1="432.551" x2="1203.652" y2="432.551"/>
	<path style="clip-path:url(#SSFO_SVGID_2_);fill:#D2D2D1;" d="M103.955,432.452c0,0.975-0.791,1.766-1.766,1.766
		c-0.975,0-1.766-0.791-1.766-1.766s0.791-1.766,1.766-1.766C103.164,430.686,103.955,431.477,103.955,432.452"/>
	<line style="clip-path:url(#SSFO_SVGID_2_);fill:#929292;" x1="562.299" y1="438.594" x2="562.299" y2="14.467"/>
	
		<line style="clip-path:url(#SSFO_SVGID_2_);fill:none;stroke:#D2D2D2;stroke-width:0.557;stroke-miterlimit:10;" x1="562.299" y1="438.594" x2="562.299" y2="14.467"/>
	<path style="clip-path:url(#SSFO_SVGID_2_);fill:#D2D2D1;" d="M562.2,436.828c0.975,0,1.766,0.79,1.766,1.766
		c0,0.975-0.791,1.766-1.766,1.766c-0.975,0-1.766-0.791-1.766-1.766C560.433,437.618,561.224,436.828,562.2,436.828"/>
	<line style="clip-path:url(#SSFO_SVGID_2_);fill:#929292;" x1="474.29" y1="438.594" x2="474.29" y2="14.467"/>
	
		<line style="clip-path:url(#SSFO_SVGID_2_);fill:none;stroke:#D2D2D2;stroke-width:0.557;stroke-miterlimit:10;" x1="474.29" y1="438.594" x2="474.29" y2="14.467"/>
	<path style="clip-path:url(#SSFO_SVGID_2_);fill:#D2D2D1;" d="M474.19,436.828c0.975,0,1.766,0.79,1.766,1.766
		c0,0.975-0.791,1.766-1.766,1.766c-0.975,0-1.766-0.791-1.766-1.766C472.424,437.618,473.215,436.828,474.19,436.828"/>
	<line style="clip-path:url(#SSFO_SVGID_2_);fill:#929292;" x1="384.052" y1="438.594" x2="384.052" y2="14.467"/>
	
		<line style="clip-path:url(#SSFO_SVGID_2_);fill:none;stroke:#D2D2D2;stroke-width:0.557;stroke-miterlimit:10;" x1="384.052" y1="438.594" x2="384.052" y2="14.467"/>
	<path style="clip-path:url(#SSFO_SVGID_2_);fill:#D2D2D1;" d="M383.953,436.828c0.975,0,1.766,0.79,1.766,1.766
		c0,0.975-0.791,1.766-1.766,1.766c-0.975,0-1.766-0.791-1.766-1.766C382.187,437.618,382.978,436.828,383.953,436.828"/>
	<line style="clip-path:url(#SSFO_SVGID_2_);fill:#929292;" x1="294.929" y1="438.594" x2="294.929" y2="14.467"/>
	
		<line style="clip-path:url(#SSFO_SVGID_2_);fill:none;stroke:#D2D2D2;stroke-width:0.557;stroke-miterlimit:10;" x1="294.929" y1="438.594" x2="294.929" y2="14.467"/>
	<path style="clip-path:url(#SSFO_SVGID_2_);fill:#D2D2D1;" d="M294.83,436.828c0.975,0,1.766,0.79,1.766,1.766
		c0,0.975-0.791,1.766-1.766,1.766c-0.975,0-1.766-0.791-1.766-1.766C293.064,437.618,293.855,436.828,294.83,436.828"/>
	<line style="clip-path:url(#SSFO_SVGID_2_);fill:#929292;" x1="205.806" y1="438.594" x2="205.806" y2="14.467"/>
	
		<line style="clip-path:url(#SSFO_SVGID_2_);fill:none;stroke:#D2D2D2;stroke-width:0.557;stroke-miterlimit:10;" x1="205.806" y1="438.594" x2="205.806" y2="14.467"/>
	<path style="clip-path:url(#SSFO_SVGID_2_);fill:#D2D2D1;" d="M205.706,436.828c0.975,0,1.766,0.79,1.766,1.766
		c0,0.975-0.791,1.766-1.766,1.766c-0.975,0-1.766-0.791-1.766-1.766C203.94,437.618,204.731,436.828,205.706,436.828"/>
	<polyline style="clip-path:url(#SSFO_SVGID_2_);fill:none;stroke:#404041;stroke-width:1.708;stroke-miterlimit:10;" points="
		117.044,14.467 117.044,432.451 1203.652,432.451 	"/>
</g>
<polyline style="fill:none;stroke:#003B5C;stroke-width:3.342;stroke-miterlimit:10;" points="115.278,328.888 205.806,199.297 
	294.93,143.595 384.053,143.595 474.29,155.85 562.299,139.139 651.423,133.568 740.546,118.276 829.669,118.276 919.907,123.542 
	1007.916,118.276 1099.82,125.77 1185.827,135.797 "/>
<g>
	<defs>
		<rect id="SSFO_SVGID_3_" x="98.661" y="10.939" width="1108.519" height="432.949"/>
	</defs>
	<clipPath id="SSFO_SVGID_4_">
		<use xlink:href="#SSFO_SVGID_3_"  style="overflow:visible;"/>
	</clipPath>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#003B5C;" d="M294.919,135.448c-4.865,0-8.823,3.958-8.823,8.824
		c0,4.864,3.958,8.822,8.823,8.822c4.864,0,8.821-3.958,8.821-8.822C303.74,139.406,299.783,135.448,294.919,135.448"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#003B5C;" d="M203.941,191.621c-4.865,0-8.823,3.958-8.823,8.824
		c0,4.864,3.958,8.821,8.823,8.821c4.864,0,8.822-3.957,8.822-8.821C212.763,195.579,208.805,191.621,203.941,191.621"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#003B5C;" d="M383.953,134.706c-4.865,0-8.823,3.958-8.823,8.824
		c0,4.864,3.958,8.822,8.823,8.822c4.864,0,8.822-3.958,8.822-8.822C392.775,138.664,388.817,134.706,383.953,134.706"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#003B5C;" d="M474.29,146.378c-4.865,0-8.823,3.958-8.823,8.824
		c0,4.864,3.958,8.822,8.823,8.822c4.864,0,8.822-3.958,8.822-8.822C483.112,150.336,479.154,146.378,474.29,146.378"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#003B5C;" d="M563.966,128.733c-4.866,0-8.823,3.958-8.823,8.824
		c0,4.864,3.957,8.821,8.823,8.821c4.863,0,8.821-3.957,8.821-8.821C572.787,132.691,568.829,128.733,563.966,128.733"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#003B5C;" d="M651.423,125.884c-4.865,0-8.823,3.958-8.823,8.823
		c0,4.864,3.958,8.822,8.823,8.822c4.863,0,8.821-3.958,8.821-8.822C660.244,129.842,656.286,125.884,651.423,125.884"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#003B5C;" d="M740.546,110.591c-4.866,0-8.824,3.958-8.824,8.823
		c0,4.864,3.958,8.822,8.824,8.822c4.863,0,8.821-3.958,8.821-8.822C749.367,114.549,745.409,110.591,740.546,110.591"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#003B5C;" d="M829.669,110.591c-4.865,0-8.823,3.958-8.823,8.823
		c0,4.864,3.958,8.822,8.823,8.822c4.864,0,8.822-3.958,8.822-8.822C838.491,114.549,834.533,110.591,829.669,110.591"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#003B5C;" d="M919.907,113.629c-4.865,0-8.823,3.958-8.823,8.823
		c0,4.864,3.958,8.822,8.823,8.822c4.863,0,8.821-3.958,8.821-8.822C928.728,117.587,924.77,113.629,919.907,113.629"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#003B5C;" d="M1008.93,110.591c-4.865,0-8.823,3.958-8.823,8.823
		c0,4.864,3.958,8.822,8.823,8.822c4.864,0,8.821-3.958,8.821-8.822C1017.751,114.549,1013.794,110.591,1008.93,110.591"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#003B5C;" d="M1098.153,117.061c-4.866,0-8.823,3.958-8.823,8.823
		c0,4.864,3.957,8.822,8.823,8.822c4.864,0,8.822-3.958,8.822-8.822C1106.975,121.019,1103.017,117.061,1098.153,117.061"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#003B5C;" d="M1187.313,127.247c-4.866,0-8.823,3.958-8.823,8.824
		c0,4.864,3.957,8.821,8.823,8.821c4.864,0,8.822-3.957,8.822-8.821C1196.135,131.205,1192.177,127.247,1187.313,127.247"/>
	<polyline style="clip-path:url(#SSFO_SVGID_4_);fill:none;stroke:#929292;stroke-width:3.342;stroke-miterlimit:10;" points="
		1187.693,259.456 1096.287,249.429 1006.049,249.429 918.04,240.517 829.668,223.582 738.68,216.008 651.423,222.004 
		562.299,232.719 474.29,232.719 382.187,228.263 294.93,255 205.806,292.877 115.377,329.769 	"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#929293;" d="M214.225,292.877c0,4.65-3.769,8.42-8.419,8.42s-8.419-3.77-8.419-8.42
		c0-4.649,3.769-8.419,8.419-8.419S214.225,288.228,214.225,292.877"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#929293;" d="M303.348,255c0,4.65-3.769,8.419-8.419,8.419s-8.42-3.769-8.42-8.419
		c0-4.65,3.77-8.419,8.42-8.419S303.348,250.35,303.348,255"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#929293;" d="M392.653,228.107c0,4.649-3.769,8.419-8.419,8.419
		s-8.419-3.77-8.419-8.419c0-4.65,3.769-8.42,8.419-8.42S392.653,223.457,392.653,228.107"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#929293;" d="M482.709,232.719c0,4.65-3.769,8.419-8.419,8.419
		s-8.419-3.769-8.419-8.419c0-4.65,3.769-8.42,8.419-8.42S482.709,228.069,482.709,232.719"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#929293;" d="M570.619,232.719c0,4.65-3.769,8.419-8.419,8.419
		c-4.65,0-8.419-3.769-8.419-8.419c0-4.65,3.769-8.42,8.419-8.42C566.85,224.299,570.619,228.069,570.619,232.719"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#929293;" d="M659.954,222.004c0,4.65-3.769,8.42-8.419,8.42
		c-4.65,0-8.419-3.77-8.419-8.42c0-4.65,3.769-8.419,8.419-8.419C656.185,213.585,659.954,217.354,659.954,222.004"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#929293;" d="M748.865,218.104c0,4.65-3.769,8.42-8.419,8.42
		c-4.65,0-8.419-3.77-8.419-8.42c0-4.649,3.769-8.419,8.419-8.419C745.096,209.685,748.865,213.455,748.865,218.104"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#929293;" d="M838.088,224.427c0,4.65-3.769,8.42-8.419,8.42
		c-4.65,0-8.419-3.77-8.419-8.42c0-4.649,3.769-8.419,8.419-8.419C834.319,216.008,838.088,219.778,838.088,224.427"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#929293;" d="M929.992,241.138c0,4.65-3.769,8.419-8.419,8.419
		c-4.65,0-8.419-3.769-8.419-8.419c0-4.65,3.769-8.419,8.419-8.419C926.223,232.719,929.992,236.488,929.992,241.138"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#929293;" d="M1017.349,249.557c0,4.65-3.769,8.42-8.419,8.42
		c-4.65,0-8.419-3.77-8.419-8.42c0-4.649,3.769-8.419,8.419-8.419C1013.58,241.138,1017.349,244.908,1017.349,249.557"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#929293;" d="M1106.472,250.976c0,4.649-3.769,8.419-8.419,8.419
		s-8.419-3.77-8.419-8.419c0-4.65,3.769-8.42,8.419-8.42S1106.472,246.326,1106.472,250.976"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#929293;" d="M1196.112,259.395c0,4.65-3.77,8.419-8.42,8.419
		c-4.649,0-8.419-3.769-8.419-8.419c0-4.65,3.77-8.419,8.419-8.419C1192.342,250.976,1196.112,254.745,1196.112,259.395"/>
	<path style="clip-path:url(#SSFO_SVGID_4_);fill:#003B5C;" d="M117.044,320.946c-4.866,0-8.823,3.958-8.823,8.824
		c0,4.864,3.957,8.822,8.823,8.822c4.863,0,8.821-3.958,8.821-8.822C125.865,324.904,121.907,320.946,117.044,320.946"/>
</g>
<text transform="matrix(1 0 0 1 1352.1455 270.1671)"><tspan x="0" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:20.8682px;">EYLEA</tspan><tspan x="68" y="-10" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:10.8682px;">®</tspan><tspan x="80" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:20.8682px;"> (942 eyes)</tspan></text>
<rect x="1320.843" y="253.514" style="fill:#003B5C;" width="18.99" height="18.99"/>
<text transform="matrix(1 0 0 1 1352.1455 302.382)"><tspan x="0" y="0" style="fill:#808080; font-family:'Montserrat-Regular'; font-size:20.8682px;">Ranibizumab(942 eyes)</tspan></text>
<rect x="1320.843" y="285.73" style="fill:#808080;" width="18.99" height="18.99"/>
<text transform="matrix(-6.123234e-17 -1 1 -6.123234e-17 30.2963 301.1115)"><tspan x="0" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">E</tspan><tspan x="15.092" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">TD</tspan><tspan x="46.178" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">R</tspan><tspan x="62.259" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">S </tspan><tspan x="82.279" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">l</tspan><tspan x="88.351" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="101.661" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">t</tspan><tspan x="110.988" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">t</tspan><tspan x="119.656" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="133.032" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">r</tspan><tspan x="142.162" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">s</tspan></text>
<text transform="matrix(1 0 0 1 610.6973 518.7618)"><tspan x="0" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">M</tspan><tspan x="21.01" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">o</tspan><tspan x="34.936" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="49.587" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">t</tspan><tspan x="58.475" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">hs</tspan></text>
<text transform="matrix(1 0 0 1 58.4976 31.3961)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">6</tspan><tspan x="14.41" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">5</tspan></text>
<text transform="matrix(1 0 0 1 59.7295 184.736)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">6</tspan><tspan x="14.366" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">0</tspan></text>
<text transform="matrix(1 0 0 1 62.4795 338.0763)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">5</tspan><tspan x="13.486" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">5</tspan></text>
<text transform="matrix(1 0 0 1 74.1177 438.3956)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">0</text>
<text transform="matrix(1 0 0 1 108.2617 472.4523)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">0</text>
<text transform="matrix(1 0 0 1 198.4395 472.4523)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">1</text>
<text transform="matrix(1 0 0 1 285.7793 472.4523)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">2</text>
<text transform="matrix(1 0 0 1 378.6416 472.4523)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">3</text>
<text transform="matrix(1 0 0 1 462.7256 472.4523)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">4</text>
<text transform="matrix(1 0 0 1 555.0596 472.4523)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">5</text>
<text transform="matrix(1 0 0 1 644.5117 472.4523)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">6</text>
<text transform="matrix(1 0 0 1 733.0396 472.4523)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">7</text>
<text transform="matrix(1 0 0 1 822.5352 472.4523)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">8</text>
<text transform="matrix(1 0 0 1 912.8896 472.4523)" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">9</text>
<text transform="matrix(1 0 0 1 997.0176 472.4523)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">1</tspan><tspan x="8.866" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">0</tspan></text>
<text transform="matrix(1 0 0 1 1091.1338 472.4523)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">1</tspan><tspan x="8.668" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">1</tspan></text>
<text transform="matrix(1 0 0 1 1178.7812 472.4523)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">1</tspan><tspan x="8.756" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">2</tspan></text>
<text transform="matrix(1 0 0 1 1133.3564 109.3732)"><tspan x="0" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:41.847px;">+</tspan><tspan x="25.359" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:41.847px; letter-spacing:1;">6</tspan><tspan x="53.229" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:41.847px;">.</tspan><tspan x="63.565" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:41.847px;">1</tspan><tspan x="80.22" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:41.847px;">0</tspan></text>
<text transform="matrix(1 0 0 1 1144.1953 241.191)"><tspan x="0" y="0" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:41.847px; letter-spacing:-1;">+</tspan><tspan x="23.477" y="0" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:41.847px;">1</tspan><tspan x="40.634" y="0" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:41.847px; letter-spacing:1;">.</tspan><tspan x="53.396" y="0" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:41.847px;">5</tspan><tspan x="78.546" y="0" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:41.847px;">9</tspan></text>
</svg>
