<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1231.19 578.085" style="enable-background:new 0 0 1231.19 578.085;" xml:space="preserve">
<line style="fill:none;stroke:#D0D0D0;stroke-width:0.4249;stroke-miterlimit:10;" x1="459.598" y1="403.269" x2="459.598" y2="28.298"/>
<g>
	<defs>
		<rect id="STTT_SVGID_1_" x="36.949" y="0" width="1194.241" height="405.685"/>
	</defs>
	<clipPath id="STTT_SVGID_2_">
		<use xlink:href="#STTT_SVGID_1_"  style="overflow:visible;"/>
	</clipPath>
	<path style="clip-path:url(#STTT_SVGID_2_);fill:#D0D0D0;" d="M461.074,403.269c0,0.921-0.661,1.669-1.477,1.669
		c-0.815,0-1.477-0.749-1.477-1.669c0-0.922,0.661-1.669,1.477-1.669C460.413,401.6,461.074,402.348,461.074,403.269"/>
	
		<line style="clip-path:url(#STTT_SVGID_2_);fill:none;stroke:#D0D0D0;stroke-width:0.4249;stroke-miterlimit:10;" x1="826.132" y1="403.269" x2="826.132" y2="28.298"/>
	<path style="clip-path:url(#STTT_SVGID_2_);fill:#D0D0D0;" d="M827.608,403.269c0,0.921-0.661,1.669-1.477,1.669
		s-1.477-0.749-1.477-1.669c0-0.922,0.661-1.669,1.477-1.669S827.608,402.348,827.608,403.269"/>
	
		<line style="clip-path:url(#STTT_SVGID_2_);fill:none;stroke:#D0D0D0;stroke-width:0.4249;stroke-miterlimit:10;" x1="86.03" y1="323.364" x2="1192.664" y2="323.364"/>
	<path style="clip-path:url(#STTT_SVGID_2_);fill:#D0D0D0;" d="M87.766,323.271c0,0.921-0.777,1.669-1.735,1.669
		c-0.959,0-1.736-0.749-1.736-1.669c0-0.922,0.777-1.669,1.736-1.669C86.988,321.601,87.766,322.349,87.766,323.271"/>
	
		<line style="clip-path:url(#STTT_SVGID_2_);fill:none;stroke:#D0D0D0;stroke-width:0.4249;stroke-miterlimit:10;" x1="86.03" y1="358.939" x2="1192.664" y2="358.939"/>
	<path style="clip-path:url(#STTT_SVGID_2_);fill:#D0D0D0;" d="M87.766,358.844c0,0.922-0.777,1.669-1.735,1.669
		c-0.959,0-1.736-0.748-1.736-1.669c0-0.921,0.777-1.669,1.736-1.669C86.988,357.175,87.766,357.924,87.766,358.844"/>
	
		<line style="clip-path:url(#STTT_SVGID_2_);fill:none;stroke:#D0D0D0;stroke-width:0.4249;stroke-miterlimit:10;" x1="86.03" y1="287.791" x2="1192.664" y2="287.791"/>
	<path style="clip-path:url(#STTT_SVGID_2_);fill:#D0D0D0;" d="M87.766,287.696c0,0.922-0.777,1.669-1.735,1.669
		c-0.959,0-1.736-0.748-1.736-1.669c0-0.921,0.777-1.669,1.736-1.669C86.988,286.027,87.766,286.775,87.766,287.696"/>
	
		<line style="clip-path:url(#STTT_SVGID_2_);fill:none;stroke:#D0D0D0;stroke-width:0.4249;stroke-miterlimit:10;" x1="86.03" y1="216.642" x2="1192.664" y2="216.642"/>
	<path style="clip-path:url(#STTT_SVGID_2_);fill:#D0D0D0;" d="M87.766,216.549c0,0.921-0.777,1.669-1.735,1.669
		c-0.959,0-1.736-0.749-1.736-1.669c0-0.922,0.777-1.669,1.736-1.669C86.988,214.88,87.766,215.627,87.766,216.549"/>
	
		<line style="clip-path:url(#STTT_SVGID_2_);fill:none;stroke:#D0D0D0;stroke-width:0.4249;stroke-miterlimit:10;" x1="86.03" y1="252.217" x2="1192.664" y2="252.217"/>
	<path style="clip-path:url(#STTT_SVGID_2_);fill:#D0D0D0;" d="M87.766,252.122c0,0.922-0.777,1.669-1.735,1.669
		c-0.959,0-1.736-0.748-1.736-1.669c0-0.921,0.777-1.669,1.736-1.669C86.988,250.453,87.766,251.202,87.766,252.122"/>
	
		<line style="clip-path:url(#STTT_SVGID_2_);fill:none;stroke:#D0D0D0;stroke-width:0.4249;stroke-miterlimit:10;" x1="86.03" y1="181.069" x2="1192.664" y2="181.069"/>
	<path style="clip-path:url(#STTT_SVGID_2_);fill:#D0D0D0;" d="M87.766,180.974c0,0.922-0.777,1.669-1.735,1.669
		c-0.959,0-1.736-0.748-1.736-1.669c0-0.921,0.777-1.669,1.736-1.669C86.988,179.305,87.766,180.054,87.766,180.974"/>
	
		<line style="clip-path:url(#STTT_SVGID_2_);fill:none;stroke:#D0D0D0;stroke-width:0.4249;stroke-miterlimit:10;" x1="86.03" y1="145.494" x2="1192.664" y2="145.494"/>
	<path style="clip-path:url(#STTT_SVGID_2_);fill:#D0D0D0;" d="M87.766,145.401c0,0.921-0.777,1.669-1.735,1.669
		c-0.959,0-1.736-0.749-1.736-1.669c0-0.921,0.777-1.669,1.736-1.669C86.988,143.731,87.766,144.48,87.766,145.401"/>
	
		<line style="clip-path:url(#STTT_SVGID_2_);fill:none;stroke:#D0D0D0;stroke-width:0.4249;stroke-miterlimit:10;" x1="86.03" y1="74.347" x2="1192.664" y2="74.347"/>
	<path style="clip-path:url(#STTT_SVGID_2_);fill:#D0D0D0;" d="M87.766,74.252c0,0.922-0.777,1.669-1.735,1.669
		c-0.959,0-1.736-0.748-1.736-1.669c0-0.921,0.777-1.669,1.736-1.669C86.988,72.583,87.766,73.332,87.766,74.252"/>
	
		<line style="clip-path:url(#STTT_SVGID_2_);fill:none;stroke:#D0D0D0;stroke-width:0.4249;stroke-miterlimit:10;" x1="86.03" y1="109.921" x2="1192.664" y2="109.921"/>
	<path style="clip-path:url(#STTT_SVGID_2_);fill:#D0D0D0;" d="M87.766,109.827c0,0.921-0.777,1.669-1.735,1.669
		c-0.959,0-1.736-0.749-1.736-1.669c0-0.922,0.777-1.669,1.736-1.669C86.988,108.158,87.766,108.905,87.766,109.827"/>
	
		<line style="clip-path:url(#STTT_SVGID_2_);fill:none;stroke:#D0D0D0;stroke-width:0.4249;stroke-miterlimit:10;" x1="86.03" y1="38.772" x2="1192.664" y2="38.772"/>
	<path style="clip-path:url(#STTT_SVGID_2_);fill:#D0D0D0;" d="M87.766,38.679c0,0.921-0.777,1.669-1.735,1.669
		c-0.959,0-1.736-0.749-1.736-1.669c0-0.922,0.777-1.669,1.736-1.669C86.988,37.01,87.766,37.757,87.766,38.679"/>
	<path style="clip-path:url(#STTT_SVGID_2_);fill:#D0D0D0;" d="M154.955,396.088c0,0.921-0.661,1.669-1.477,1.669
		c-0.815,0-1.477-0.749-1.477-1.669c0-0.922,0.661-1.669,1.477-1.669C154.294,394.419,154.955,395.166,154.955,396.088"/>
</g>
<polyline style="fill:none;stroke:#404041;stroke-width:1.7197;stroke-miterlimit:10;" points="93.064,28.298 93.064,394.085 
	1192.517,394.085 "/>
<rect x="562.285" y="127.613" style="fill:#003C5D;" width="77.061" height="265.553"/>
<rect x="639.347" y="118.723" style="fill:#AEDFEC;" width="77.061" height="274.344"/>
<rect x="930.804" y="182.378" style="fill:#003C5D;" width="77.061" height="210.789"/>
<rect x="1007.866" y="147.05" style="fill:#AEDFEC;" width="77.064" height="246.117"/>
<rect x="206.806" y="209.435" style="fill:#003C5D;" width="77.061" height="183.858"/>
<rect x="283.868" y="158.704" style="fill:#AEDFEC;" width="77.061" height="234.302"/>
<text transform="matrix(-6.123234e-17 -1 1 -6.123234e-17 39.9736 309.8555)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20px;">M</tspan><tspan x="19.02" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20px;">e</tspan><tspan x="30.88" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20px;">an</tspan><tspan x="56.299" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20px;"> </tspan><tspan x="61.58" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20px;">V</tspan><tspan x="75" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20px;">A </tspan><tspan x="94.819" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20px;">(</tspan><tspan x="101.479" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20px;">E</tspan><tspan x="114.779" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20px;">TDRS l</tspan><tspan x="180.478" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20px;">e</tspan><tspan x="192.618" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20px;">t</tspan><tspan x="200.558" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20px;">t</tspan><tspan x="208.397" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20px;">e</tspan><tspan x="220.557" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20px;">r</tspan><tspan x="228.617" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20px;">s</tspan><tspan x="238.557" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20px;">)</tspan></text>
<text transform="matrix(1 0 0 1 226.9932 432.4571)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">&lt;69 le</tspan><tspan x="61.397" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">t</tspan><tspan x="69.669" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">t</tspan><tspan x="77.86" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">e</tspan><tspan x="90.486" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">r</tspan><tspan x="98.903" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">s g</tspan><tspan x="129.024" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">r</tspan><tspan x="137.255" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">oup</tspan></text>
<text transform="matrix(1 0 0 1 232.6255 457.2139)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">6</tspan><tspan x="12.729" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">6</tspan><tspan x="25.066" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">% of </tspan><tspan x="73.94" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">p</tspan><tspan x="87.928" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">atients)</tspan></text>
<text transform="matrix(1 0 0 1 973.5869 54.9053)" style="fill:#1D1D1B; font-family:'Montserrat-Italic'; font-size:14px;">P</text>
<text transform="matrix(1 0 0 1 983.6387 54.9053)"><tspan x="0" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Medium'; font-size:14px;">&lt;</tspan><tspan x="8.147" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Medium'; font-size:14px;">0.</tspan><tspan x="20.355" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Medium'; font-size:14px;">00</tspan><tspan x="39.031" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Medium'; font-size:14px;">0</tspan><tspan x="48.341" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Medium'; font-size:14px;">1</tspan></text>
<text transform="matrix(1 0 0 1 217.9248 34.8082)"><tspan x="0" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">+</tspan><tspan x="12.443" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">13</tspan><tspan x="33.626" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">.</tspan><tspan x="39.46" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">8 le</tspan><tspan x="79.825" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">t</tspan><tspan x="88.953" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">t</tspan><tspan x="97.951" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">e</tspan><tspan x="111.535" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">r</tspan><tspan x="120.792" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">s</tspan></text>
<text transform="matrix(1 0 0 1 586.312 34.8082)"><tspan x="0" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">+</tspan><tspan x="12.551" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">2</tspan><tspan x="25.467" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">.</tspan><tspan x="30.849" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">6 le</tspan><tspan x="70.718" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">t</tspan><tspan x="79.825" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">t</tspan><tspan x="88.845" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">e</tspan><tspan x="102.429" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">r</tspan><tspan x="111.665" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">s</tspan></text>
<text transform="matrix(1 0 0 1 943.2676 34.8082)"><tspan x="0" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">+</tspan><tspan x="12.896" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">9</tspan><tspan x="26.328" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">.9 le</tspan><tspan x="71.838" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">t</tspan><tspan x="80.966" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">t</tspan><tspan x="89.965" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">e</tspan><tspan x="103.549" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">r</tspan><tspan x="112.806" y="0" style="fill:#1D1D1B; font-family:'Montserrat-Bold'; font-size:21.528px;">s</tspan></text>
<text transform="matrix(1 0 0 1 550.3208 432.4571)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">≥69 le</tspan><tspan x="61.397" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">t</tspan><tspan x="69.669" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">t</tspan><tspan x="77.86" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">e</tspan><tspan x="90.486" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">r</tspan><tspan x="98.903" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">s g</tspan><tspan x="129.024" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">r</tspan><tspan x="137.255" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">oup</tspan></text>
<text transform="matrix(1 0 0 1 552.5283 457.2139)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">(3</tspan><tspan x="18.753" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">4</tspan><tspan x="31.957" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">% of </tspan><tspan x="80.831" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">p</tspan><tspan x="94.818" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">atients)</tspan></text>
<text transform="matrix(1 0 0 1 950.6865 432.4571)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px; letter-spacing:-1;">T</tspan><tspan x="10.996" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">otal </tspan><tspan x="56.28" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">c</tspan><tspan x="67.916" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">o</tspan><tspan x="81.017" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">h</tspan><tspan x="95.107" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">o</tspan><tspan x="108.208" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">r</tspan><tspan x="116.977" y="0" style="fill:#404041; font-family:'Montserrat-Medium'; font-size:20.631px;">t</tspan></text>
<text transform="matrix(1 0 0 1 54.1978 42.1426)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:14.9958px;">10</tspan><tspan x="16.66" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:14.9958px;">0</tspan></text>
<text transform="matrix(1 0 0 1 61.0059 75.043)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:14.9958px;">9</tspan><tspan x="9.837" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:14.9958px;">0</tspan></text>
<text transform="matrix(1 0 0 1 60.6611 107.9439)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:14.9958px;">8</tspan><tspan x="10.197" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:14.9958px;">0</tspan></text>
<text transform="matrix(1 0 0 1 61.5605 140.8448)" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:14.9958px;">70</text>
<text transform="matrix(1 0 0 1 61.0059 173.7457)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:14.9958px;">6</tspan><tspan x="9.852" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:14.9958px;">0</tspan></text>
<text transform="matrix(1 0 0 1 61.6357 206.6465)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:14.9958px;">5</tspan><tspan x="9.222" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:14.9958px;">0</tspan></text>
<text transform="matrix(1 0 0 1 60.2261 239.5469)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:14.9958px;">4</tspan><tspan x="10.617" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:14.9958px;">0</tspan></text>
<text transform="matrix(1 0 0 1 61.6807 272.4478)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:14.9958px;">3</tspan><tspan x="9.163" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:14.9958px;">0</tspan></text>
<text transform="matrix(1 0 0 1 61.7407 305.3487)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:14.9958px;">2</tspan><tspan x="9.103" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:14.9958px;">0</tspan></text>
<text transform="matrix(1 0 0 1 64.6797 338.2491)"><tspan x="0" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:14.9958px;">1</tspan><tspan x="6.178" y="0" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:14.9958px;">0</tspan></text>
<text transform="matrix(1 0 0 1 70.8579 371.1505)" style="fill:#404041; font-family:'Montserrat-Bold'; font-size:14.9958px;">0</text>
<text transform="matrix(1 0 0 1 230.918 197.9971)"><tspan x="0" y="0" style="fill:#003C5D; font-family:'Montserrat-Bold'; font-size:26.6513px;">5</tspan><tspan x="15.75" y="0" style="fill:#003C5D; font-family:'Montserrat-Bold'; font-size:26.6513px;">2</tspan></text>
<text transform="matrix(1 0 0 1 262.604 543.4932)"><tspan x="0" y="0" style="fill:#003C5D; font-family:'Montserrat-Bold'; font-size:30px; letter-spacing:-1;">7</tspan><tspan x="17.13" y="0" style="fill:#003C5D; font-family:'Montserrat-Bold'; font-size:30px;">.4</tspan></text>
<text transform="matrix(1 0 0 1 610.6343 543.4932)"><tspan x="0" y="0" style="fill:#003C5D; font-family:'Montserrat-Bold'; font-size:30px;">6</tspan><tspan x="19.379" y="0" style="fill:#003C5D; font-family:'Montserrat-Bold'; font-size:30px;">.</tspan><tspan x="26.849" y="0" style="fill:#003C5D; font-family:'Montserrat-Bold'; font-size:30px;">6</tspan></text>
<text transform="matrix(1 0 0 1 984.1943 543.4932)"><tspan x="0" y="0" style="fill:#003C5D; font-family:'Montserrat-Bold'; font-size:30px;">6</tspan><tspan x="19.38" y="0" style="fill:#003C5D; font-family:'Montserrat-Bold'; font-size:30px;">.9</tspan></text>
<text transform="matrix(1 0 0 1 296.918 147.3804)"><tspan x="0" y="0" style="fill:#AEDFEC; font-family:'Montserrat-Bold'; font-size:26.6513px;">65</tspan><tspan x="32.834" y="0" style="fill:#AEDFEC; font-family:'Montserrat-Bold'; font-size:26.6513px;">.</tspan><tspan x="40.083" y="0" style="fill:#AEDFEC; font-family:'Montserrat-Bold'; font-size:26.6513px;">8</tspan></text>
<text transform="matrix(1 0 0 1 648.4492 107.4571)"><tspan x="0" y="0" style="fill:#AEDFEC; font-family:'Montserrat-Bold'; font-size:26.6513px;">7</tspan><tspan x="16.523" y="0" style="fill:#AEDFEC; font-family:'Montserrat-Bold'; font-size:26.6513px; letter-spacing:-1;">7</tspan><tspan x="31.769" y="0" style="fill:#AEDFEC; font-family:'Montserrat-Bold'; font-size:26.6513px;">.</tspan><tspan x="38.404" y="0" style="fill:#AEDFEC; font-family:'Montserrat-Bold'; font-size:26.6513px;">6</tspan></text>
<text transform="matrix(1 0 0 1 1017.5693 135.7339)"><tspan x="0" y="0" style="fill:#AEDFEC; font-family:'Montserrat-Bold'; font-size:26.6513px;">6</tspan><tspan x="16.977" y="0" style="fill:#AEDFEC; font-family:'Montserrat-Bold'; font-size:26.6513px;">9</tspan><tspan x="33.634" y="0" style="fill:#AEDFEC; font-family:'Montserrat-Bold'; font-size:26.6513px;">.</tspan><tspan x="40.27" y="0" style="fill:#AEDFEC; font-family:'Montserrat-Bold'; font-size:26.6513px;">6</tspan></text>
<text transform="matrix(1 0 0 1 586.9111 116.2252)"><tspan x="0" y="0" style="fill:#003C5D; font-family:'Montserrat-Bold'; font-size:26.6513px;">7</tspan><tspan x="16.097" y="0" style="fill:#003C5D; font-family:'Montserrat-Bold'; font-size:26.6513px;">5</tspan></text>
<text transform="matrix(1 0 0 1 940.5469 170.9405)"><tspan x="0" y="0" style="fill:#003C5D; font-family:'Montserrat-Bold'; font-size:26.6513px;">5</tspan><tspan x="15.857" y="0" style="fill:#003C5D; font-family:'Montserrat-Bold'; font-size:26.6513px;">9</tspan><tspan x="32.514" y="0" style="fill:#003C5D; font-family:'Montserrat-Bold'; font-size:26.6513px;">.</tspan><tspan x="39.07" y="0" style="fill:#003C5D; font-family:'Montserrat-Bold'; font-size:26.6513px;">7</tspan></text>
<polyline style="fill:none;stroke:#919191;" points="200.026,78.577 200.026,67.171 358.418,67.171 358.418,78.577 "/>
<polyline style="fill:none;stroke:#919191;" points="560.291,78.577 560.291,67.171 718.683,67.171 718.683,78.577 "/>
<polyline style="fill:none;stroke:#919191;" points="928.026,78.577 928.026,67.171 1086.418,67.171 1086.418,78.577 "/>
<text transform="matrix(1 0 0 1 20.6138 510.671)"><tspan x="0" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:20px;">M</tspan><tspan x="19.1" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:20px;">e</tspan><tspan x="31.419" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:20px;">an</tspan><tspan x="57.579" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:20px;"> </tspan><tspan x="63.099" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:20px;">number</tspan></text>
<text transform="matrix(1 0 0 1 20.6138 534.671)"><tspan x="0" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:20px;">of inje</tspan><tspan x="65.099" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:20px;">c</tspan><tspan x="77.059" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:20px;">tions </tspan></text>
<text transform="matrix(1 0 0 1 155.6113 534.671)" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:20px;"> </text>
<text transform="matrix(1 0 0 1 20.6138 558.671)" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:20px;">at Month 12</text>
<g>
	<defs>
		<rect id="STTT_SVGID_3_" width="1231.19" height="578.085"/>
	</defs>
	<clipPath id="STTT_SVGID_4_">
		<use xlink:href="#STTT_SVGID_3_"  style="overflow:visible;"/>
	</clipPath>
	
		<rect x="0.709" y="485.874" style="clip-path:url(#STTT_SVGID_4_);fill:none;stroke:#FFD100;stroke-width:1.417;" width="1188" height="91.5"/>
</g>
</svg>
