<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1493.31 513.566" style="enable-background:new 0 0 1493.31 513.566;" xml:space="preserve">
<g>
	<defs>
		<rect id="STTS_SVGID_1_" x="100.124" y="6.452" width="1306.858" height="446.066"/>
	</defs>
	<clipPath id="STTS_SVGID_2_">
		<use xlink:href="#STTS_SVGID_1_"  style="overflow:visible;"/>
	</clipPath>
	<polyline style="clip-path:url(#STTS_SVGID_2_);fill:none;stroke:#414142;stroke-width:1.734;stroke-miterlimit:10;" points="
		104.177,10.963 104.177,443.498 1407.913,443.498 	"/>
</g>
<path style="fill:#929292;" d="M100.124,23.163h1306.858H100.124z"/>
<g>
	<defs>
		<rect id="STTS_SVGID_3_" x="100.124" y="6.452" width="1306.858" height="446.066"/>
	</defs>
	<clipPath id="STTS_SVGID_4_">
		<use xlink:href="#STTS_SVGID_3_"  style="overflow:visible;"/>
	</clipPath>
	
		<line style="clip-path:url(#STTS_SVGID_4_);fill:none;stroke:#D2D2D2;stroke-width:0.566;stroke-miterlimit:10;" x1="96.922" y1="23.164" x2="1407.913" y2="23.164"/>
	<path style="clip-path:url(#STTS_SVGID_4_);fill:#D2D2D1;" d="M98.715,23.063c0,0.99-0.803,1.793-1.793,1.793
		c-0.99,0-1.793-0.803-1.793-1.793c0-0.99,0.803-1.793,1.793-1.793C97.912,21.27,98.715,22.073,98.715,23.063"/>
	<line style="clip-path:url(#STTS_SVGID_4_);fill:#929292;" x1="96.922" y1="166.441" x2="1407.913" y2="166.441"/>
	
		<line style="clip-path:url(#STTS_SVGID_4_);fill:none;stroke:#D2D2D2;stroke-width:0.566;stroke-miterlimit:10;" x1="96.922" y1="166.441" x2="1407.913" y2="166.441"/>
	<path style="clip-path:url(#STTS_SVGID_4_);fill:#D2D2D1;" d="M98.715,166.34c0,0.99-0.803,1.793-1.793,1.793
		c-0.99,0-1.793-0.803-1.793-1.793c0-0.99,0.803-1.793,1.793-1.793C97.912,164.547,98.715,165.35,98.715,166.34"/>
	<line style="clip-path:url(#STTS_SVGID_4_);fill:#929292;" x1="100.987" y1="306.132" x2="1411.977" y2="306.132"/>
	
		<line style="clip-path:url(#STTS_SVGID_4_);fill:none;stroke:#D2D2D2;stroke-width:0.566;stroke-miterlimit:10;" x1="100.987" y1="306.132" x2="1411.977" y2="306.132"/>
	<path style="clip-path:url(#STTS_SVGID_4_);fill:#D2D2D1;" d="M102.78,306.032c0,0.989-0.803,1.793-1.793,1.793
		c-0.99,0-1.793-0.804-1.793-1.793c0-0.99,0.803-1.793,1.793-1.793C101.977,304.239,102.78,305.042,102.78,306.032"/>
	<line style="clip-path:url(#STTS_SVGID_4_);fill:#929292;" x1="961.049" y1="450.725" x2="961.049" y2="10.962"/>
	
		<line style="clip-path:url(#STTS_SVGID_4_);fill:none;stroke:#D2D2D2;stroke-width:0.566;stroke-miterlimit:10;" x1="961.049" y1="450.725" x2="961.049" y2="10.962"/>
	<path style="clip-path:url(#STTS_SVGID_4_);fill:#D2D2D1;" d="M960.948,448.932c0.99,0,1.793,0.802,1.793,1.793
		c0,0.99-0.803,1.793-1.793,1.793c-0.99,0-1.793-0.803-1.793-1.793C959.155,449.734,959.958,448.932,960.948,448.932"/>
	<line style="clip-path:url(#STTS_SVGID_4_);fill:#929292;" x1="535.576" y1="449.828" x2="535.576" y2="10.066"/>
	
		<line style="clip-path:url(#STTS_SVGID_4_);fill:none;stroke:#D2D2D2;stroke-width:0.566;stroke-miterlimit:10;" x1="535.576" y1="449.828" x2="535.576" y2="10.066"/>
	<path style="clip-path:url(#STTS_SVGID_4_);fill:#D2D2D1;" d="M535.475,448.035c0.99,0,1.793,0.803,1.793,1.793
		c0,0.99-0.803,1.794-1.793,1.794c-0.99,0-1.793-0.804-1.793-1.794C533.682,448.838,534.485,448.035,535.475,448.035"/>
	<line style="clip-path:url(#STTS_SVGID_4_);fill:#929292;" x1="1389.309" y1="446.214" x2="1389.309" y2="6.452"/>
	
		<line style="clip-path:url(#STTS_SVGID_4_);fill:none;stroke:#D2D2D2;stroke-width:0.566;stroke-miterlimit:10;" x1="1389.309" y1="446.214" x2="1389.309" y2="6.452"/>
	<path style="clip-path:url(#STTS_SVGID_4_);fill:#D2D2D1;" d="M1389.208,444.421c0.989,0,1.793,0.803,1.793,1.793
		s-0.804,1.794-1.793,1.794c-0.99,0-1.794-0.804-1.794-1.794S1388.218,444.421,1389.208,444.421"/>
	<path style="clip-path:url(#STTS_SVGID_4_);fill:#003B5C;" d="M104.178,307.824c-4.94,0-8.957,4.018-8.957,8.957
		c0,4.938,4.017,8.956,8.957,8.956c4.937,0,8.955-4.018,8.955-8.956C113.133,311.842,109.115,307.824,104.178,307.824"/>
	<path style="clip-path:url(#STTS_SVGID_4_);fill:#003B5C;" d="M535.476,140.433c-4.94,0-8.957,4.018-8.957,8.957
		c0,4.938,4.017,8.956,8.957,8.956c4.937,0,8.955-4.018,8.955-8.956C544.431,144.451,540.413,140.433,535.476,140.433"/>
	<path style="clip-path:url(#STTS_SVGID_4_);fill:#003B5C;" d="M960.949,129.968c-4.94,0-8.957,4.018-8.957,8.957
		c0,4.938,4.017,8.956,8.957,8.956c4.937,0,8.955-4.018,8.955-8.956C969.904,133.986,965.886,129.968,960.949,129.968"/>
	<path style="clip-path:url(#STTS_SVGID_4_);fill:#003B5C;" d="M1389.209,121.011c-4.94,0-8.958,4.018-8.958,8.957
		c0,4.938,4.018,8.956,8.958,8.956c4.937,0,8.955-4.018,8.955-8.956C1398.164,125.029,1394.146,121.011,1389.209,121.011"/>
	<polyline style="clip-path:url(#STTS_SVGID_4_);fill:none;stroke:#003B5C;stroke-width:3.393;stroke-miterlimit:10;" points="
		102.78,316.781 535.476,147.881 959.155,140.432 1387.415,129.968 	"/>
</g>
<text transform="matrix(1 0 0 1 483.1938 119.4708)" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:39px;">+5.9</text>
<text transform="matrix(1 0 0 1 907.8262 107.3419)"><tspan x="0" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:39px;">+</tspan><tspan x="23.517" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:39px;">6</tspan><tspan x="48.711" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:39px;">.4</tspan></text>
<text transform="matrix(1 0 0 1 1335.5391 99.0738)"><tspan x="0" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:39px;">+</tspan><tspan x="23.517" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:39px;">6</tspan><tspan x="48.75" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:39px;">.</tspan><tspan x="58.461" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:39px;">6</tspan></text>
<text transform="matrix(-6.123234e-17 -1 1 -6.123234e-17 30.2961 285.1783)"><tspan x="0" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">E</tspan><tspan x="15.092" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">TD</tspan><tspan x="46.178" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">R</tspan><tspan x="62.259" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">S </tspan><tspan x="82.279" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">l</tspan><tspan x="88.351" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="101.661" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">t</tspan><tspan x="110.988" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">t</tspan><tspan x="119.656" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="133.032" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">r</tspan><tspan x="142.162" y="0" style="fill:#404040; font-family:'Montserrat-Medium'; font-size:22px;">s</tspan></text>
<text transform="matrix(1 0 0 1 65.0254 28.296)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">6</tspan><tspan x="14.41" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">5</tspan></text>
<text transform="matrix(1 0 0 1 308.5098 359.4127)" style="fill:#FFD61A; font-family:'Montserrat-Bold'; font-size:50.2168px;">8</text>
<text transform="matrix(1 0 0 1 768.2949 359.4127)" style="fill:#FFD61A; font-family:'Montserrat-Bold'; font-size:50.2168px;">4</text>
<text transform="matrix(1 0 0 1 1193.3799 359.4127)" style="fill:#FFD61A; font-family:'Montserrat-Bold'; font-size:50.2168px;">4</text>
<text transform="matrix(1 0 0 1 63.2217 168.8853)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">6</tspan><tspan x="14.366" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">0</tspan></text>
<text transform="matrix(1 0 0 1 65.9717 308.3433)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">5</tspan><tspan x="13.486" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">5</tspan></text>
<text transform="matrix(1 0 0 1 64.2334 447.8013)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">5</tspan><tspan x="13.354" y="0" style="fill:#535353; font-family:'Montserrat-Bold'; font-size:22px;">0</tspan></text>
<text transform="matrix(1 0 0 1 64.6074 485.0035)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">B</tspan><tspan x="16.83" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">a</tspan><tspan x="29.985" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">s</tspan><tspan x="41.184" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="54.582" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">li</tspan><tspan x="66.329" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="81.223" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan></text>
<text transform="matrix(1 0 0 1 45.0713 505.7935)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">(</tspan><tspan x="6.732" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="21.428" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">=</tspan><tspan x="33.439" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">1</tspan><tspan x="41.161" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">4</tspan><tspan x="56.451" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">8 </tspan><tspan x="76.977" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="90.199" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">y</tspan><tspan x="102.233" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="115.807" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">s</tspan><tspan x="126.389" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">)</tspan></text>
<text transform="matrix(1 0 0 1 506.6094 485.0035)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px; letter-spacing:-1;">Y</tspan><tspan x="12.804" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="26.158" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">a</tspan><tspan x="39.094" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">r</tspan><tspan x="48.312" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;"> </tspan><tspan x="54.449" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">1</tspan></text>
<text transform="matrix(1 0 0 1 471.0137 505.7935)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">(</tspan><tspan x="6.732" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="21.428" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">=</tspan><tspan x="33.439" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">1</tspan><tspan x="41.161" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">4</tspan><tspan x="56.451" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">8</tspan><tspan x="70.817" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;"> </tspan><tspan x="76.955" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="90.177" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">y</tspan><tspan x="102.211" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="115.785" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">s</tspan><tspan x="126.367" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">)</tspan></text>
<text transform="matrix(1 0 0 1 930.3076 485.0035)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px; letter-spacing:-1;">Y</tspan><tspan x="12.804" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="26.158" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">a</tspan><tspan x="39.094" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">r</tspan><tspan x="48.312" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;"> </tspan><tspan x="54.449" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">2</tspan></text>
<text transform="matrix(1 0 0 1 901.0039 505.7935)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">(</tspan><tspan x="6.731" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="21.428" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">=</tspan><tspan x="33.439" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">1</tspan><tspan x="41.535" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">3</tspan><tspan x="54.405" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">1</tspan><tspan x="62.743" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;"> </tspan><tspan x="68.881" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="82.103" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">y</tspan><tspan x="94.137" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="107.688" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">s</tspan><tspan x="118.271" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">)</tspan></text>
<text transform="matrix(1 0 0 1 1356.293 485.0035)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px; letter-spacing:-1;">Y</tspan><tspan x="12.804" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="26.158" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">a</tspan><tspan x="39.094" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">r</tspan><tspan x="48.312" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;"> </tspan><tspan x="54.449" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">3</tspan></text>
<text transform="matrix(1 0 0 1 1423.3057 485.0035)" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;"> </text>
<text transform="matrix(1 0 0 1 1322.7871 505.7935)"><tspan x="0" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">(</tspan><tspan x="6.731" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="21.428" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">=</tspan><tspan x="33.439" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">1</tspan><tspan x="41.667" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">0</tspan><tspan x="56.693" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">8 </tspan><tspan x="77.219" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="90.441" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">y</tspan><tspan x="102.475" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="116.026" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">s</tspan><tspan x="126.608" y="0" style="fill:#535353; font-family:'Montserrat-Medium'; font-size:22px;">)</tspan></text>
<text transform="matrix(1 0 0 1 225.6475 395.7711)"><tspan x="0" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">m</tspan><tspan x="23.188" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="36.784" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">d</tspan><tspan x="51.567" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">i</tspan><tspan x="57.529" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">a</tspan><tspan x="70.465" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="85.667" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;"> </tspan><tspan x="90.859" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">i</tspan><tspan x="96.711" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="111.385" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">j</tspan><tspan x="117.501" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="131.097" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">c</tspan><tspan x="144.077" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">t</tspan><tspan x="152.965" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">i</tspan><tspan x="158.97" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">o</tspan><tspan x="172.896" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">ns</tspan></text>
<text transform="matrix(1 0 0 1 225.6475 422.1714)"><tspan x="0" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">i</tspan><tspan x="5.852" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">n </tspan><tspan x="27.192" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">t</tspan><tspan x="36.08" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">h</tspan><tspan x="50.974" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">e </tspan><tspan x="70.795" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">fi</tspan><tspan x="86.173" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">r</tspan><tspan x="95.303" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">s</tspan><tspan x="106.721" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">t </tspan><tspan x="122.187" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">y</tspan><tspan x="134.22" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="147.574" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">a</tspan><tspan x="160.51" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">r</tspan></text>
<text transform="matrix(1 0 0 1 679.6836 395.7711)"><tspan x="0" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">m</tspan><tspan x="23.188" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="36.784" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">d</tspan><tspan x="51.567" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">i</tspan><tspan x="57.529" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">a</tspan><tspan x="70.465" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">n </tspan><tspan x="91.806" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">i</tspan><tspan x="97.657" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="112.331" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">j</tspan><tspan x="118.447" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="132.043" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">c</tspan><tspan x="145.022" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">t</tspan><tspan x="153.91" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">i</tspan><tspan x="159.916" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">o</tspan><tspan x="173.842" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">ns</tspan></text>
<text transform="matrix(1 0 0 1 679.6836 422.1714)"><tspan x="0" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">i</tspan><tspan x="5.852" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="21.032" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;"> </tspan><tspan x="27.17" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">t</tspan><tspan x="36.058" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">h</tspan><tspan x="50.952" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">e </tspan><tspan x="70.773" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">s</tspan><tspan x="81.971" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="95.567" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">c</tspan><tspan x="107.997" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">o</tspan><tspan x="121.923" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="136.817" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">d </tspan><tspan x="158.179" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">y</tspan><tspan x="170.213" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="183.566" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">a</tspan><tspan x="196.502" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">r</tspan></text>
<text transform="matrix(1 0 0 1 1111.2354 395.7711)"><tspan x="0" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">m</tspan><tspan x="23.188" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="36.784" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">d</tspan><tspan x="51.567" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">i</tspan><tspan x="57.529" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">a</tspan><tspan x="70.465" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="85.667" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;"> </tspan><tspan x="90.859" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">i</tspan><tspan x="96.711" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">n</tspan><tspan x="111.385" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">j</tspan><tspan x="117.501" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="131.097" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">c</tspan><tspan x="144.099" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">t</tspan><tspan x="152.986" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">i</tspan><tspan x="158.992" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">o</tspan><tspan x="172.918" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">ns</tspan></text>
<text transform="matrix(1 0 0 1 1111.2354 422.1714)"><tspan x="0" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">i</tspan><tspan x="5.874" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">n </tspan><tspan x="27.214" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">t</tspan><tspan x="36.102" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">h</tspan><tspan x="50.995" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="64.657" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;"> </tspan><tspan x="70.795" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">t</tspan><tspan x="79.683" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">h</tspan><tspan x="94.379" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">i</tspan><tspan x="100.253" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">r</tspan><tspan x="108.965" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">d</tspan><tspan x="124.166" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;"> </tspan><tspan x="130.305" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">y</tspan><tspan x="142.338" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">e</tspan><tspan x="155.692" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">a</tspan><tspan x="168.628" y="0" style="fill:#1A4F6C; font-family:'Montserrat-Medium'; font-size:22px;">r</tspan></text>
</svg>
