<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1559.91 580.737" style="enable-background:new 0 0 1559.91 580.737;" xml:space="preserve">
<line style="fill:none;stroke:#DAD8D9;stroke-width:0.623;stroke-miterlimit:10;" x1="95.211" y1="422.001" x2="1144.292" y2="422.001"/>
<g>
	<defs>
		<rect id="SVGID_1_" x="9" y="1.083" width="1171.996" height="579.654"/>
	</defs>
	<clipPath id="SVGID_2_">
		<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
	</clipPath>
	<path style="clip-path:url(#SVGID_2_);fill:#DAD8D9;" d="M97.312,421.881c0,1.164-0.941,2.102-2.102,2.102
		c-1.16,0-2.101-0.938-2.101-2.102c0-1.16,0.941-2.099,2.101-2.099C96.371,419.782,97.312,420.721,97.312,421.881"/>
	
		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#DAD8D9;stroke-width:0.623;stroke-miterlimit:10;" x1="95.211" y1="377.163" x2="1144.292" y2="377.163"/>
	<path style="clip-path:url(#SVGID_2_);fill:#DAD8D9;" d="M97.312,377.046c0,1.16-0.941,2.099-2.102,2.099
		c-1.16,0-2.101-0.939-2.101-2.099c0-1.164,0.941-2.102,2.101-2.102C96.371,374.944,97.312,375.882,97.312,377.046"/>
	
		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#DAD8D9;stroke-width:0.623;stroke-miterlimit:10;" x1="95.211" y1="332.326" x2="1144.292" y2="332.326"/>
	<path style="clip-path:url(#SVGID_2_);fill:#DAD8D9;" d="M97.312,332.208c0,1.163-0.941,2.102-2.102,2.102
		c-1.16,0-2.101-0.939-2.101-2.102c0-1.16,0.941-2.099,2.101-2.099C96.371,330.109,97.312,331.048,97.312,332.208"/>
	
		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#DAD8D9;stroke-width:0.623;stroke-miterlimit:10;" x1="95.211" y1="287.489" x2="1144.292" y2="287.489"/>
	<path style="clip-path:url(#SVGID_2_);fill:#DAD8D9;" d="M97.312,287.371c0,1.16-0.941,2.102-2.102,2.102
		c-1.16,0-2.101-0.942-2.101-2.102c0-1.16,0.941-2.102,2.101-2.102C96.371,285.269,97.312,286.211,97.312,287.371"/>
	
		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#DAD8D9;stroke-width:0.623;stroke-miterlimit:10;" x1="95.211" y1="242.653" x2="1144.292" y2="242.653"/>
	<path style="clip-path:url(#SVGID_2_);fill:#DAD8D9;" d="M97.312,242.535c0,1.16-0.941,2.102-2.102,2.102
		c-1.16,0-2.101-0.942-2.101-2.102c0-1.16,0.941-2.102,2.101-2.102C96.371,240.433,97.312,241.375,97.312,242.535"/>
	
		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#DAD8D9;stroke-width:0.623;stroke-miterlimit:10;" x1="95.211" y1="197.816" x2="1144.292" y2="197.816"/>
	<path style="clip-path:url(#SVGID_2_);fill:#DAD8D9;" d="M97.312,197.698c0,1.16-0.941,2.102-2.102,2.102
		c-1.16,0-2.101-0.942-2.101-2.102c0-1.16,0.941-2.102,2.101-2.102C96.371,195.596,97.312,196.538,97.312,197.698"/>
	
		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#DAD8D9;stroke-width:0.623;stroke-miterlimit:10;" x1="95.211" y1="152.98" x2="1144.292" y2="152.98"/>
	<path style="clip-path:url(#SVGID_2_);fill:#DAD8D9;" d="M97.312,152.861c0,1.16-0.941,2.102-2.102,2.102
		c-1.16,0-2.101-0.942-2.101-2.102c0-1.16,0.941-2.102,2.101-2.102C96.371,150.759,97.312,151.701,97.312,152.861"/>
	
		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#DAD8D9;stroke-width:0.623;stroke-miterlimit:10;" x1="95.211" y1="108.142" x2="1144.292" y2="108.142"/>
	<path style="clip-path:url(#SVGID_2_);fill:#DAD8D9;" d="M97.312,108.025c0,1.16-0.941,2.102-2.102,2.102
		c-1.16,0-2.101-0.942-2.101-2.102c0-1.16,0.941-2.102,2.101-2.102C96.371,105.923,97.312,106.865,97.312,108.025"/>
	
		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#DAD8D9;stroke-width:0.623;stroke-miterlimit:10;" x1="95.211" y1="63.306" x2="1144.292" y2="63.306"/>
	<path style="clip-path:url(#SVGID_2_);fill:#DAD8D9;" d="M97.312,63.188c0,1.16-0.941,2.102-2.102,2.102
		c-1.16,0-2.101-0.942-2.101-2.102c0-1.16,0.941-2.102,2.101-2.102C96.371,61.086,97.312,62.028,97.312,63.188"/>
	
		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#DAD8D9;stroke-width:0.623;stroke-miterlimit:10;" x1="95.211" y1="18.47" x2="1144.292" y2="18.47"/>
	<path style="clip-path:url(#SVGID_2_);fill:#DAD8D9;" d="M97.312,18.351c0,1.16-0.941,2.102-2.102,2.102
		c-1.16,0-2.101-0.942-2.101-2.102c0-1.16,0.941-2.102,2.101-2.102C96.371,16.249,97.312,17.191,97.312,18.351"/>
	<rect x="818.965" y="72.71" style="clip-path:url(#SVGID_2_);fill:#10395A;" width="142.523" height="394.008"/>
	<rect x="137.281" y="443.894" style="clip-path:url(#SVGID_2_);fill:#10395A;" width="142.523" height="22.824"/>
	<rect x="467.502" y="412.615" style="clip-path:url(#SVGID_2_);fill:#10395A;" width="142.523" height="54.103"/>
	<rect x="301.963" y="436.295" style="clip-path:url(#SVGID_2_);fill:#BFE3F2;" width="142.523" height="30.423"/>
	<rect x="632.057" y="402.781" style="clip-path:url(#SVGID_2_);fill:#BFE3F2;" width="142.523" height="63.937"/>
	<rect x="984.549" y="82.565" style="clip-path:url(#SVGID_2_);fill:#BFE3F2;" width="142.523" height="384.153"/>
	
		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#DEDADA;stroke-width:0.623;stroke-miterlimit:10;" x1="456.207" y1="482.403" x2="456.314" y2="18.143"/>
	<path style="clip-path:url(#SVGID_2_);fill:#DEDADA;" d="M458.559,482.403c0,1.299-1.053,2.355-2.352,2.355
		c-1.299,0-2.352-1.056-2.352-2.355c0-1.299,1.053-2.356,2.352-2.356C457.506,480.047,458.559,481.104,458.559,482.403"/>
	
		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#DAD8D9;stroke-width:0.559;stroke-miterlimit:10;" x1="95.211" y1="466.837" x2="1144.292" y2="466.837"/>
	<path style="clip-path:url(#SVGID_2_);fill:#DAD8D9;" d="M97.312,466.719c0,1.163-0.941,2.099-2.102,2.099
		c-1.16,0-2.101-0.936-2.101-2.099c0-1.164,0.941-2.1,2.101-2.1C96.371,464.619,97.312,465.555,97.312,466.719"/>
	<polyline style="clip-path:url(#SVGID_2_);fill:none;stroke:#484343;stroke-width:2.241;stroke-miterlimit:10;" points="
		110.588,18.143 110.588,466.719 1144.061,466.719 	"/>
	
		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#484343;stroke-width:2.241;stroke-miterlimit:10;" x1="94.979" y1="466.719" x2="115.379" y2="466.719"/>
	
		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#484343;stroke-width:2.241;stroke-miterlimit:10;" x1="110.588" y1="464.356" x2="110.588" y2="484.756"/>
	
		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#484343;stroke-width:2.236;stroke-miterlimit:10;" x1="795.298" y1="18.47" x2="795.307" y2="20.706"/>
	
		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#484343;stroke-width:2.241;stroke-miterlimit:10;stroke-dasharray:4.499,4.499;" x1="795.326" y1="25.204" x2="797.514" y2="562.839"/>
	
		<line style="clip-path:url(#SVGID_2_);fill:none;stroke:#484343;stroke-width:2.236;stroke-miterlimit:10;" x1="797.526" y1="565.087" x2="797.535" y2="567.323"/>
</g>
<text transform="matrix(1 0 0 1 1236.7168 349.4948)"><tspan x="0" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:25.4557px;">E</tspan><tspan x="16.444" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:25.4557px;">Y</tspan><tspan x="31.972" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:25.4557px;">LEA</tspan><tspan x="80" y="-8" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:19px;">®</tspan><tspan x="92" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:25.4557px;"> + </tspan><tspan x="116.323" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:25.4557px;"> rescue PDT</tspan></text>
<text transform="matrix(1 0 0 1 1236.7168 379.2018)" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:25.4557px;">(n=161)</text>
<text transform="matrix(1 0 0 1 1236.7168 432.5573)"><tspan x="0" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:25.4557px;">E</tspan><tspan x="16.444" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:25.4557px;">Y</tspan><tspan x="31.972" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:25.4557px;">LEA</tspan><tspan x="80" y="-8" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:19px;">®</tspan><tspan x="95" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:25.4557px;"> monotheraphy</tspan></text>
<text transform="matrix(1 0 0 1 1236.7168 462.2634)"><tspan x="0" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:25.4557px;">(n=1</tspan><tspan x="50.478" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:25.4557px;">5</tspan><tspan x="64.86" y="0" style="fill:#003B5C; font-family:'Montserrat-Regular'; font-size:25.4557px;">7)</tspan></text>
<rect x="1198.533" y="329.181" style="fill:#ACDFED;" width="23.164" height="23.165"/>
<rect x="1198.533" y="412.239" style="fill:#003B5C;" width="23.164" height="23.165"/>
<text transform="matrix(1 0 0 1 44.189 26.2839)" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:19.9216px;">100</text>
<text transform="matrix(1 0 0 1 52.835 69.2346)" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:19.9216px;">90</text>
<text transform="matrix(1 0 0 1 52.3369 115.2336)" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:19.9216px;">80</text>
<text transform="matrix(1 0 0 1 54.4287 159.7985)"><tspan x="0" y="0" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:19.9216px;">7</tspan><tspan x="11.953" y="0" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:19.9216px;">0</tspan></text>
<text transform="matrix(1 0 0 1 53.6919 203.2873)" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:19.9216px;">60</text>
<text transform="matrix(1 0 0 1 54.5283 249.4655)" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:19.9216px;">50</text>
<text transform="matrix(1 0 0 1 52.377 294.1891)" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:19.9216px;">40</text>
<text transform="matrix(1 0 0 1 54.3091 337.6784)" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:19.9216px;">30</text>
<text transform="matrix(1 0 0 1 54.3892 382.1833)"><tspan x="0" y="0" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:19.9216px;">2</tspan><tspan x="11.714" y="0" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:19.9216px;">0</tspan></text>
<text transform="matrix(1 0 0 1 58.2935 428.322)" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:19.9216px;">10</text>
<text transform="matrix(1 0 0 1 66.103 474.0417)" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:19.9216px;">0</text>
<text transform="matrix(1 0 0 1 103.9341 514.8415)" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:19.9216px;">0</text>
<text transform="matrix(1 0 0 1 246.8345 516.7839)"><tspan x="0" y="0" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:22px;">W</tspan><tspan x="24.838" y="0" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:22px;">eek 1</tspan><tspan x="84.171" y="0" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:22px;">2</tspan></text>
<text transform="matrix(1 0 0 1 201.4194 558.0046)"><tspan x="0" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">P</tspan><tspan x="14.224" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">r</tspan><tspan x="22.372" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">op</tspan><tspan x="49.006" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">o</tspan><tspan x="61.835" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">r</tspan><tspan x="70.501" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">tio</tspan><tspan x="97.554" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">n</tspan><tspan x="111.3" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;"> o</tspan><tspan x="129.708" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">f</tspan><tspan x="136.919" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;"> </tspan><tspan x="142.477" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">p</tspan><tspan x="155.984" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">atients </tspan><tspan x="231.047" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">r</tspan><tspan x="238.996" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">equi</tspan><tspan x="283.819" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">r</tspan><tspan x="291.867" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">i</tspan><tspan x="297.425" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">n</tspan><tspan x="311.051" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">g </tspan><tspan x="330.156" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">r</tspan><tspan x="338.303" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">escue t</tspan><tspan x="412.53" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">r</tspan><tspan x="420.678" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">e</tspan><tspan x="432.791" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">at</tspan><tspan x="453.349" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">m</tspan><tspan x="474.645" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">e</tspan><tspan x="487.036" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">n</tspan><tspan x="500.782" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">t</tspan></text>
<text transform="matrix(-6.123234e-17 -1 1 -6.123234e-17 30.2953 303.8005)"><tspan x="0" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:22px;">P</tspan><tspan x="15.796" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:22px;">atients (</tspan><tspan x="108.084" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:22px;">%</tspan><tspan x="126.432" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:22px;">)</tspan></text>
<text transform="matrix(1 0 0 1 837.709 499.5319)"><tspan x="0" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">P</tspan><tspan x="14.224" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">r</tspan><tspan x="22.371" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">o</tspan><tspan x="35.201" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">p</tspan><tspan x="48.986" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">o</tspan><tspan x="61.815" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">r</tspan><tspan x="70.481" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">ti</tspan><tspan x="84.686" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">on</tspan><tspan x="111.261" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;"> </tspan><tspan x="116.818" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">o</tspan><tspan x="129.647" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">f </tspan><tspan x="142.438" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">p</tspan><tspan x="155.944" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">atients w</tspan><tspan x="248.917" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">h</tspan><tspan x="262.523" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">o</tspan></text>
<text transform="matrix(1 0 0 1 1112.9424 499.5319)" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;"> </text>
<text transform="matrix(1 0 0 1 806.2031 521.944)"><tspan x="0" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">did </tspan><tspan x="38.887" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">n</tspan><tspan x="52.692" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">o</tspan><tspan x="65.521" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">t</tspan><tspan x="73.968" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;"> </tspan><tspan x="79.506" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">r</tspan><tspan x="87.653" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">e</tspan><tspan x="100.025" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">qui</tspan><tspan x="133.254" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">r</tspan><tspan x="141.401" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">e </tspan><tspan x="159.351" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">r</tspan><tspan x="167.498" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">escue t</tspan><tspan x="241.726" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">r</tspan><tspan x="249.873" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">e</tspan><tspan x="261.985" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">at</tspan><tspan x="282.544" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">m</tspan><tspan x="303.86" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">e</tspan><tspan x="316.251" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">n</tspan><tspan x="329.997" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">t</tspan></text>
<text transform="matrix(1 0 0 1 1144.4482 521.944)" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;"> </text>
<text transform="matrix(1 0 0 1 917.9717 544.3561)"><tspan x="0" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">b</tspan><tspan x="12.71" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">y</tspan><tspan x="23.268" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;"> </tspan><tspan x="28.627" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px; letter-spacing:-1;">W</tspan><tspan x="49.982" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">eek </tspan><tspan x="91.997" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">5</tspan><tspan x="103.353" y="0" style="fill:#808080; font-family:'Montserrat-Medium'; font-size:19.9216px;">2</tspan></text>
<text transform="matrix(1 0 0 1 567.8682 516.7839)"><tspan x="0" y="0" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:22px;">W</tspan><tspan x="24.816" y="0" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:22px;">e</tspan><tspan x="39.138" y="0" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:22px;">e</tspan><tspan x="53.438" y="0" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:22px;">k </tspan><tspan x="75.063" y="0" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:22px;">5</tspan><tspan x="88.461" y="0" style="fill:#808080; font-family:'Montserrat-Bold'; font-size:22px;">2</tspan></text>
<text transform="matrix(1 0 0 1 851.1621 63.0895)"><tspan x="0" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:37.3531px;">8</tspan><tspan x="24.204" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:37.3531px; letter-spacing:-2;">7</tspan><tspan x="44.412" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:37.3531px; letter-spacing:1;">.</tspan><tspan x="55.431" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:37.3531px;">9</tspan></text>
<text transform="matrix(1 0 0 1 1013.7607 71.2321)"><tspan x="0" y="0" style="fill:#A9D9EF; font-family:'Montserrat-Bold'; font-size:37.3531px;">8</tspan><tspan x="24.055" y="0" style="fill:#A9D9EF; font-family:'Montserrat-Bold'; font-size:37.3531px;">5</tspan><tspan x="46.167" y="0" style="fill:#A9D9EF; font-family:'Montserrat-Bold'; font-size:37.3531px;">.</tspan><tspan x="56.402" y="0" style="fill:#A9D9EF; font-family:'Montserrat-Bold'; font-size:37.3531px;">7</tspan></text>
<text transform="matrix(1 0 0 1 667.124 390.7878)"><tspan x="0" y="0" style="fill:#A9D9EF; font-family:'Montserrat-Bold'; font-size:37.3531px; letter-spacing:-1;">1</tspan><tspan x="13.036" y="0" style="fill:#A9D9EF; font-family:'Montserrat-Bold'; font-size:37.3531px;">4</tspan><tspan x="38.884" y="0" style="fill:#A9D9EF; font-family:'Montserrat-Bold'; font-size:37.3531px;">.</tspan><tspan x="49.417" y="0" style="fill:#A9D9EF; font-family:'Montserrat-Bold'; font-size:37.3531px;">3</tspan></text>
<text transform="matrix(1 0 0 1 343.0107 425.7507)"><tspan x="0" y="0" style="fill:#A9D9EF; font-family:'Montserrat-Bold'; font-size:37.3531px;">6</tspan><tspan x="23.831" y="0" style="fill:#A9D9EF; font-family:'Montserrat-Bold'; font-size:37.3531px;">.</tspan><tspan x="33.356" y="0" style="fill:#A9D9EF; font-family:'Montserrat-Bold'; font-size:37.3531px;">8</tspan></text>
<text transform="matrix(1 0 0 1 508.6719 399.2302)"><tspan x="0" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:37.3531px; letter-spacing:-1;">1</tspan><tspan x="13.597" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:37.3531px;">2</tspan><tspan x="36.307" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:37.3531px; letter-spacing:-1;">.</tspan><tspan x="44.487" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:37.3531px;">1</tspan></text>
<text transform="matrix(1 0 0 1 182.5049 435.4245)"><tspan x="0" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:37.3531px;">5</tspan><tspan x="22.112" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:37.3531px; letter-spacing:-1;">.</tspan><tspan x="30.292" y="0" style="fill:#003B5C; font-family:'Montserrat-Bold'; font-size:37.3531px;">1</tspan></text>
</svg>
