@font-face {
  font-family: "fontGraphikBold";
  src: url("../plugin/fonts/graphik/GraphikBold.otf");
}

@font-face {
  font-family: "fontGraphikMedium";
  src: url("../plugin/fonts/graphik/GraphikMedium.otf");
}

@font-face {
  font-family: "fontGraphikLight";
  src: url("../plugin/fonts/graphik/GraphikLight.otf");
}

@font-face {
  font-family: "fontGraphikSemibold";
  src: url("../plugin/fonts/graphik/GraphikSemibold.otf");
}

@font-face {
  font-family: "fontGraphikRegular";
  src: url("../plugin/fonts/graphik/GraphikRegular.otf");
}

@font-face {
  font-family: "fontNova";
  src: url("../plugin/fonts/HKNova-Medium.otf");
}

@font-face {
  font-family: "fontLatoRegular";
  src: url("../plugin/fonts/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "fontLatoBlack";
  src: url("../plugin/fonts/lato/Lato-Black.ttf");
}

@font-face {
  font-family: "fontLatoBold";
  src: url("../plugin/fonts/lato/Lato-Bold.ttf");
}

.fontGraphikMedium {
  font-family: "fontGraphikMedium";
}

.fontGraphikRegular {
  font-family: "fontGraphikRegular";
}

.fontGraphikLight {
  font-family: "fontGraphikLight";
}

.fontGraphikBold {
  font-family: "fontGraphikBold";
}

.fontGraphikSemibold {
  font-family: "fontGraphikSemibold";
}

.fontLatoBold {
  font-family: "fontLatoBold";
}

.fontLatoRegular {
  font-family: "fontLatoRegular";
}

.fontLatoBlack {
  font-family: "fontLatoBlack";
}

.fontNova {
  font-family: "fontNova";
}

.first_section {
  margin-top: 40px  !important;
}

.first_section .yellow {
  margin: 10px 17px;
  border-top: 7px solid #fff783;
}

.first_section .world_title {
  font-weight: 900;
  color: #2e2e74;
}

.first_section .sub_title {
  font-size: 16px;
  font-family: "fontNova";
}

.first_section .number {
  font-size: 12px;
  font-family: "fontNova";
  position: relative;
  bottom: 6px;
}

.flag1 {
  width: "100%";
}

.country_title {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  color: black !important;
  text-decoration: none;
}

.country_title1 {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.right {
  margin-top: 100px;
}

.carousel {
  margin-top: 100px;
}

.carousel .glyphicon-chevron-left:before {
  content: "\e079";
  color: black;
}

.carousel .carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: none;
  background-color: white;
  -webkit-filter: none;
          filter: none;
  opacity: none;
}
/*# sourceMappingURL=style.css.map */