// $primary-color_1: #334ac0;
// v1
// $primary-color: #334AC0;
// v2
// $primary-color: #665CD7;
// v3
$primary-color: #665CD7;

// background colors
// v1
// $tertiary-background-color: #334AC0;
// v3
// $tertiary-background-color: #665CD7;
// new
$tertiary-background-color: #242438;

$primary-background-color: #ffffff;
$secondary-background-color: rgba(51, 74, 192, 0.03);
$darck-background-color: rgba(192, 152, 51, 0.05);
// text colors
$text-primary-color: #2b2a35;
$text-secondary-color: #383838;
$text-tertiary-color: #595959;
$text-subtext-color: #43434b;
// colors
$color-white: #ffffff;
$color-black: #000000;


// font family
@font-face {
    font-family: "fontGraphikBold";
    src: url("../plugin/fonts/graphik/GraphikBold.otf");
}
@font-face {
    font-family: "fontGraphikMedium";
    src: url("../plugin/fonts/graphik/GraphikMedium.otf");
}
@font-face {
    font-family: "fontGraphikLight";
    src: url("../plugin/fonts/graphik/GraphikLight.otf");
}
@font-face {
    font-family: "fontGraphikSemibold";
    src: url("../plugin/fonts/graphik/GraphikSemibold.otf");
}
@font-face {
    font-family: "fontGraphikRegular";
    src: url("../plugin/fonts/graphik/GraphikRegular.otf");
}





@font-face {
    font-family: "fontNova";
    src: url("../plugin/fonts/HKNova-Medium.otf");
}

@font-face {
    font-family: "fontLatoRegular";
    src: url("../plugin/fonts/lato/Lato-Regular.ttf");
}
@font-face {
    font-family: "fontLatoBlack";
    src: url("../plugin/fonts/lato/Lato-Black.ttf");
}
@font-face {
    font-family: "fontLatoBold";
    src: url("../plugin/fonts/lato/Lato-Bold.ttf");
}



.fontGraphikMedium{
    font-family: "fontGraphikMedium";
}
.fontGraphikRegular{
    font-family: "fontGraphikRegular";
}
.fontGraphikLight{
    font-family: "fontGraphikLight";
}
.fontGraphikBold{
    font-family:"fontGraphikBold";
}
.fontGraphikSemibold{
    font-family:"fontGraphikSemibold";
}


.fontLatoBold{
    font-family: "fontLatoBold";
}
.fontLatoRegular{
    font-family: "fontLatoRegular";
}
.fontLatoBlack{
    font-family: "fontLatoBlack";
}

.fontNova{
    font-family: "fontNova";
}

.first_section
{
 margin-top:40px  !important;

.yellow
{
    margin:10px 17px ;
    border-top: 7px solid rgb(255, 247, 131);
}
.world_title
{
    font-weight: 900;
    color: rgb(46, 46, 116);
}
.sub_title
{
    font-size: 16px;
    font-family: "fontNova";
}
.number
{
    font-size: 12px;
    font-family: "fontNova";
    position: relative;
    bottom: 6px;
}

}
.flag1
{
    width:"100%";
}
.country_title{
    font-size: 14px;
    font-weight: 700;
    cursor:pointer;
    color:black !important;
    text-decoration: none;
}
.country_title1{
    font-size: 14px;
    font-weight: 700;
    cursor:pointer;
   
}
.right
{
    margin-top:100px;
}
.carousel
{
    margin-top:100px;


    .glyphicon-chevron-left:before {
        content: "\e079";
        color: black;
    }
   
    .carousel-control {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0%;
        font-size: 20px;
        color: #fff;
        text-align: center;
        text-shadow:none;
        background-color:white;
        filter: none;
        opacity: none;
    }
    
}


